@charset "UTF-8";

.facet-group {
  margin-bottom: $grid-gutter-width/2;
  font-family: $font-family-sans-serif;
  border-bottom: 1px solid $nobel;
  ul {
    overflow: hidden;
    padding: 0;
    max-height: 0px;
    transition: max-height 0.3s;
    margin-bottom: 0;
  }
  li {
    display: block;
    list-style-type: none;
    padding: 2px 0;
    font-size: $font-size-small;
    &:first-child {padding-top: 0.8em;}
    &:last-child {padding-bottom: 0.8em;}
  }
  .checkbox {
    margin-bottom: 0;
  }
  input {
    position: relative;
    top: 2px;
  }
  &.open {
    ul {max-height: 500px;}
  }
  .text-clear {
    color: $nobel;
  }
}

.facet-title {
  font-weight: 700;
  position: relative;
  padding: 0.3em 0;
  transition: padding 0.3s,
              background 0.3s;
  &:hover {
    background: $gallery;
    padding: 0.3em $grid-gutter-width/3;
  }
  &:hover {cursor: pointer;}
}

.facet-add {
  background: none;
  border: none;
  font-weight: 500;
  padding: 0;
  span {
    display: inline-block;
    width: 13px;
    height: 13px;
    background: $concrete;
    border: 1px solid $nobel;
    border-radius: 2px;
    line-height: 11px;
    margin-right: 3px;
    font-weight: 700;
    transition: background 0.3s,
                border-color 0.3s;
  }
  &:hover span {
    background: $gallery;
    border-color: $boulder;
  }
}

.facet-group .form-control {
  width: auto;
  margin-left: 20px;
}

