@charset "UTF-8";

$media-caption-height: 56px;

.group-teaser {
  box-sizing: border-box;
  position: relative;
  color: $tundora;
  text-decoration: none;
  background: $white;
  font-family: $font-family-sans-serif;
  border: 1px solid $gallery;
  .media-grid & {
    float: left;
    margin: 8px 8px ($media-caption-height + 8px) 8px;
    background-color: $concrete;
    transition: background 0.3s;
    &:hover {
      color: $tundora;
      background: darken($concrete, 8%);
      .group-caption {background: darken($concrete, 8%);}
    }
    .thumbnail{
      width: 94%;
      height: 94%;
      margin: 3% 3%;
      position: relative;
      z-index: 1;
      box-shadow: inset 0 0 0 5px $white;
      &:after {
        content: "\00a0";
        border-bottom: 5px solid darken($concrete, 20%);
        position: absolute;
        z-index: 0;
        top: 0;
        bottom: -5px;
        left: 5px;
        right: 5px;
      }
      &:before {
        content: "\00a0";
        border-bottom: 10px solid darken($concrete, 12%);
        position: absolute;
        z-index: 0;
        top: 0;
        bottom: -10px;
        left: 10px;
        right: 10px;
      }
    }
  }
  .media-list & {
    display: block !important;
    width: 100% !important;
    height: auto !important;
    background: $concrete;
    margin-bottom: 8px;
    transition: background 0.3s;
    &:hover {
      background: $gallery;
    }
    &:before,
    &:after {
      display: table;
      content: ' ';
      clear: both;
    }
  }
  @media screen and (max-width: $screen-xs-max) {
    .media-list & img {width: 25%;}
  }
}

.group-caption {
  overflow: hidden;
  transition: background 0.3s;
  box-sizing: border-box;
  a, a:hover {text-decoration: none;}
  .media-grid & {
    background: $concrete;
    position: absolute;
    bottom: $media-caption-height * -1;
    left: 0;
    width: 100%;
    height: $media-caption-height;
    padding: 10px 15px !important;
  }
  .media-list & {
    position: relative;
    h5 {
      font-size: ceil(($font-size-base * 1.3333));
    }
  }
  @media screen and (max-width: $screen-xs-max) {

  }
}

.group-counter {
  .media-grid & {float: right;}
}

.group-metadata {
  font-size: $font-size-small;
  font-weight: 500;
  padding: 10px;
  a {
    color: darken($monza, 15%);
    text-decoration: none;
    &:hover {
      text-decoration: none;
      color: $monza;
    }
  }
  .media-grid & {display: none;}
}
