@charset "UTF-8";

$media-caption-height: 80px;

.group-teaser {
  box-sizing: border-box;
  position: relative;
  color: $tundora;
  text-decoration: none;
  background: $white;
  font-family: $font-family-sans-serif;
  .media-grid & {
    float: left;
    margin: 8px 8px ($media-caption-height + 8px) 8px;
    &:hover {
      color: $tundora;
      .group-caption {background: darken($concrete, 8%);}
    }
  }
  .media-list & {
    display: block !important;
    width: 100% !important;
    height: auto !important;
    background: $concrete;
    margin-bottom: 8px;
    transition: background 0.3s;
    &:hover {
      background: $gallery;
    }
    &:before,
    &:after {
      display: table;
      content: ' ';
      clear: both;
    }
  }
  @media screen and (max-width: $screen-xs-max) {
    .media-list & img {width: 25%;}
  }
}

.group-caption {
  overflow: hidden;
  transition: background 0.3s;
  box-sizing: border-box;
  h5 {
    font-weight: 700;
    a, a:hover {text-decoration: none;}
  }
  .media-grid & {
    background: $concrete;
    position: absolute;
    bottom: $media-caption-height * -1;
    left: 0;
    width: 100%;
    height: $media-caption-height;
    padding: 0 16px;
    h5 {
      display: block; /* Fallback for non-webkit */
      display: -webkit-box;
      max-width: 100%;
      height: $media-caption-height; /* Fallback for non-webkit */
      margin: 0 auto;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: ($media-caption-height / $font-size-base) / 2.4;
      padding: 6px 0;
      margin: 0;
    }
  }
  .media-list & {
    position: relative;
    h5 {
      font-size: ceil(($font-size-base * 1.3333));
    }
  }
  @media screen and (max-width: $screen-xs-max) {

  }
}

.group-counter {
  position: absolute;
  top: 0;
  left: 16px;
  padding: 3px 8px;
  background: $monza;
  color: rgba(255, 255, 255, 0.8);
  font-size: ceil(($font-size-base * 0.75));
  h6 {
    text-transform: uppercase;
    color: $white;
    display: inline;
    font-size: ceil(($font-size-base * 0.75));
  }
  .glyphicon {
    margin-left: 8px;
  }
  .media-list & {
    display: inline-block;
    position: static;
  }
}

.group-metadata {
  font-size: $font-size-small;
  font-weight: 500;
  padding: 10px;
  a {
    color: darken($monza, 15%);
    text-decoration: none;
    &:hover {
      text-decoration: none;
      color: $monza;
    }
  }
  .media-grid & {display: none;}
}
