@charset "UTF-8";

.media-infobar {
  background: $concrete;
  margin-top: 10px;
  font-size: $font-size-small;
  font-family: $font-family-sans-serif;
  padding: 1px $grid-gutter-width/2;
  hr {margin: 0.6em auto;}
  td {
    vertical-align: top;
    padding-bottom: $grid-gutter-width/3;
    &:first-child {padding-right: $grid-gutter-width/3;}
  }
  a {
    display: block;
    padding-bottom: 0.4em;
    font-weight: 700;
  }
  img {
    display: block;
    max-width: 90px;
    margin: 0 auto;
  }
}
