@charset "UTF-8";

.media-features-bar {
  color: $boulder;
  font-size: $font-size-small;
  padding: 0.4em 0;
  background: $white;
  .btn-link {
    color: $boulder;
    font-size: $font-size-small;
    font-weight: 500;
    border: 0;
    &:hover {
      text-decoration: none;
      color: $black;
      .glyphicon {color: $black;}
    }
    &.active .glyphicon {color: $monza;}
    .glyphicon {
      font-size: $font-size-base;
      position: relative;
      top: 0.3em;
      color: $tundora;
      transition: color 0.3s;
    }
  }
}

.media-features-bar-infos {
  @extend .btn;
  @extend .btn-link;
}
