@charset "UTF-8";

.media-infobar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: -0.8em;
  background: $white;
  font-family: $font-family-sans-serif;
  padding: $grid-gutter-width/2;
  padding-top: 1px;
  hr {margin: 0.6em auto;}
  h5 {
    color: $nobel;
    margin-bottom: 0.2em;
    margin-top: 1.5em;
    font-weight: 500;
  }
  .row h5 {margin-top: 0;}
  a {
    padding-bottom: 0.4em;
    font-weight: 700;
    text-decoration: none;
    color: $carmine;
    &:hover {color: $monza;}
  }
  @media screen and (max-width: $screen-xs-max) {
    position: static;
    padding-left: 0;
    padding-right: 0;
  }
}

.license-block {
  background: $concrete;
  padding: 5px 10px;
  font-weight: 500;
  color: $tundora;
}
