@charset "UTF-8";

.results-navbar {
  margin-top: 1.4em;

  strong {font-weight: 500;}

  .btn-default {
    padding: 0.05em 0.05em;
    margin: 0 0.2em;
    border: none;
    border-radius: 0;
    color: $tundora;
    border-bottom: 2px solid $white;
    background: transparent;
    box-shadow: none;
    border-radius: 0px !important;
    transition: border-bottom-color 0.3s,
                color 0.3s;
    &.active, &.active:hover, &:focus {
      background: transparent;
      color: $boulder;
      border-bottom-color: $monza;
    }
    &:hover {
      color: $black;
    }
  }

  select.form-control {
    display: inline-block;
    width: auto;
    height: 34px;
    padding: 0 5px;
    border: 1px solid $gallery;
    background: $concrete;
    border-radius: 0px !important;
  }

  .btn.open .chevron {
    transform: rotate(-135deg);
  }

  @media screen and (max-width: $screen-xs-max) {
    [class*="col-"] {margin-bottom: 5px;}
    select {float: left;}
    strong.text-clear {display: none;}
    .chevron {transform: rotate(135deg);}
    .btn.open .chevron {transform: rotate(-45deg);}
  }
}

.vertical-separator {
  display: inline-block;
  margin: 0 15px;
  position: relative;
  top: 0.4em;
  height: 1.5em;
  width: 1px;
  background: $gallery;
}
