@charset "UTF-8";

.navbar-form {
  position: relative;
  width: 20%;
  margin-top: 8px;
  margin-left: $navbar-height + 15px;
  padding: 0;
  border: 1px solid $dusty-gray !important;
  border-radius: 20px;
  background: $wild-sand;

  @media screen and (max-width: $screen-md-max) {
    width: 35%;
  }
  @media screen and (max-width: $screen-xs-max) {
    display: block;
    position: absolute;
    top: $navbar-height;
    left: 0;
    width: 100%;
    height: 0px;
    padding: 0 $grid-gutter-width/2;
    overflow: hidden;
    margin-top: 0;
    margin-left: 0;
    background: $gallery;
    border: none !important;
    border-radius: 0;
    z-index: 600;
    transition: height 0.3s,
                padding 0.3s;
    &.open {
      height: $navbar-height + 12px;
      padding: 5px $grid-gutter-width/2;
    }
    .btn {
      width: 20%;
      float: right;
      border: none;
    }
  }
}

.container .navbar-form {
  width: 100%;
  margin-left: 0;
}

.navbar-form .form-control {
  border: none;
  background: none;
  box-shadow: none;
  padding: 0px 15px;
  padding-left: 40px;
  width: 100%;
  height: 30px;
  &:focus {
    & + .icons {color: $boulder;}
  }
  & + .icons {
    position: absolute;
    left: 15px;
    top: 5px;
    z-index: 10;
    color: $dusty-gray;
    transition: color 0.3s;
  }
  @media screen and (max-width: $screen-xs-max) {
    background: $white;
    max-width: none;
    width: 100%;
    height: $navbar-height - 8px;
    float: left;
    padding: 6px;
    padding-left: 40px;
    margin-top: 4px;
    border-radius: 50px;
    & + .icons {
      left: 28px;
      top: 19px;
    }
  }
}

.navbar-form-contextualized {
  width: auto;
  .form-control {
    padding-left: 40px;
    width: auto;
    display: inline-block;
    padding-left: 10px;
    float: left;
  }
  .label {
    height: 30px;
    padding: 0.3em 0.7em;
    padding-left: 35px;
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: none;
    border-radius: 50px 0 0 50px;
    line-height: 22px;
    font-size: $font-size-base;
    margin-bottom: 0;
    .label-close:hover {&:before {
      left: 1.7em;
      top: 0.75em;
    }}
  }
  @media screen and (max-width: $screen-xs-max) {
    overflow: hidden;
    &.open {
      height: $navbar-height + 45px;
    }
    .label {
      padding-left: 10px;
      border-radius: 2px;
    }
    .form-control {
      width: 100%;
      border-radius: 50px;
      padding-left: 38px;
      & + .icons {
        top: 50px;
      }
    }
  }
}
