---
notes: |
  ##### Introduced : 0.4.0
  ##### Updated : -
  ##### Usage : `{{> cover }}`
  ##### Options :
  - **cover-src** - String
---
<div class="cover" style="background-image: url('{{#if cover-src}}{{ cover-src }}{{^}}https://unsplash.it/2000/650?image=984{{/if}}');">
  <img src="{{#if cover-src}}{{ cover-src }}{{^}}https://unsplash.it/2000/650?image=984{{/if}}" class="img-responsive">
</div>
