---
notes: |
  ##### Introduced : 0.3.1
  ##### Updated : -
  ##### Usage : `{{> label }}`
  ##### Options :
  - **text** - String
  - **closable** - Boolean (default `false`)
---
<span class="label label-default">
  {{#if text}}{{ text }}{{^}}Default label{{/if}}
  {{#if closable}}<button class="label-close">&times;</button>{{/if}}
</span>
