---
notes: |
  ##### Introduced : 0.6.0
  ##### Updated : -
  ##### Usage : `{{> thumbnail-mondrian }}`
  ##### Options :
  - **thumbnail-object** - Object
---
<div class="thumbnail">
  <img src="{{thumbnail-object.thumbnail}}" alt="{{thumbnail-object.title}}" class="img-responsive" />
</div>
