---
notes: |
  ##### Introduced : 0.3.0
  ##### Updated : -
  ##### Usage : `{{> thumbnail }}`
  ##### Options :
  - **thumbnail-object** - Object
---
<div class="thumbnail" style="background-image: url('{{thumbnail-object.thumbnail}}');">
  <img src="{{thumbnail-object.thumbnail}}" alt="{{thumbnail-object.title}}" class="img-responsive">
</div>
