@charset "UTF-8";

.bg-mine-shaft {
  background: $mine-shaft;
  color: $white;
  a {
    color: $gallery;
    &:hover, &:active, &:focus {color: $white;}
  }
  .btn-primary {
    background: $gallery;
    color: $black;
    &:hover, &:active, &:focus {
      color: $black;
      background: $white;
    }
  }
}

.bg-concrete {
  background: transparentize($concrete, 0.5);
  border-top: 1px solid $concrete;
  .text-clear {
    color: $nobel;
  }
}
