@font-face {
  font-family: "icons";
  src: url('../fonts/icons.eot');
  src: url('../fonts/icons.eot?#iefix') format('eot'),
    url('../fonts/icons.woff') format('woff'),
    url('../fonts/icons.ttf') format('truetype'),
    url('../fonts/icons.svg#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icons:before {
  display: inline-block;
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icons-lg {
  font-size: 1.3333333333333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.icons-2x { font-size: 2em; }
.icons-3x { font-size: 3em; }
.icons-4x { font-size: 4em; }
.icons-5x { font-size: 5em; }
.icons-fw {
  width: 1.2857142857142858em;
  text-align: center;
}

.icons-alert:before { content: "\EA01" }
.icons-camera:before { content: "\EA02" }
.icons-collection:before { content: "\EA03" }
.icons-comment:before { content: "\EA04" }
.icons-eye-open:before { content: "\EA05" }
.icons-file:before { content: "\EA06" }
.icons-flash:before { content: "\EA07" }
.icons-folder-open:before { content: "\EA08" }
.icons-fullscreen:before { content: "\EA09" }
.icons-heart-full:before { content: "\EA0A" }
.icons-heart:before { content: "\EA0B" }
.icons-hourglass:before { content: "\EA0C" }
.icons-info-sign:before { content: "\EA0D" }
.icons-map-marker:before { content: "\EA0E" }
.icons-microphone:before { content: "\EA0F" }
.icons-newspaper:before { content: "\EA10" }
.icons-ok:before { content: "\EA11" }
.icons-pen:before { content: "\EA12" }
.icons-photo:before { content: "\EA13" }
.icons-plus:before { content: "\EA14" }
.icons-search:before { content: "\EA15" }
.icons-send:before { content: "\EA16" }
.icons-share-alt:before { content: "\EA17" }
.icons-th-list:before { content: "\EA18" }
.icons-th:before { content: "\EA19" }
.icons-trash:before { content: "\EA1A" }
.icons-user:before { content: "\EA1B" }
.icons-video:before { content: "\EA1C" }