@charset "UTF-8";

// New colors
$vermilion:        #f34b00;

$tuatara:          #3c3c3b;
$chicago:          #575756;
$storm-dust:       #6f6f6e;
$friar-gray:       #878786;
$dusty-gray:       #9d9c9c;
$gray-nickel:      #b2b2b1;
$gray-nickel-2:    #c6c6c5;
$quill-gray:       #dadad9;
$gallery-2:        #ececec;
$wild-sand:        #f5f5f5;

$malachite:        #13c04a;
$picton-blue:      #45bde1;
$radical-red:      #ff2149;
$saffron:          #efc12a;

// Colors :
$pirate-gold:        $saffron;
$monza:              $radical-red;
$carmine:            darken($monza, 8%);
$lima:               $malachite;
$robins-egg-blue:    $picton-blue;

$white:       #ffffff;
$concrete:    $wild-sand;
$gallery:     $gallery-2;
$nobel:       $gray-nickel;
$boulder:     $storm-dust;
$tundora:     $chicago;
$mine-shaft:  $tuatara;
$black:       #000000;
