@charset "UTF-8";

// Colors :
$pirate-gold:        #d08402;
$monza:              #d0021b;
$carmine:            darken($monza, 8%);
$lima:               #7ed321;
$robins-egg-blue:    #02D0B7;

$white:       #ffffff;
$concrete:    #f2f2f2;
$gallery:     #ededed;
$nobel:       #b4b4b4;
$boulder:     #7d7d7d;
$tundora:     #4a4a4a;
$mine-shaft:  #262626;
$black:       #000000;
