html {
  font-size: 16px !important;
}

.f-menu-active body {
  padding-top: 0;
}

.f-item-notes {
  margin-bottom: 30px;
}
<<<<<<< Updated upstream

.f-item-preview {position: relative;}
=======
>>>>>>> Stashed changes
