@charset "UTF-8";

a {
  transition: color 0.3s;
  text-decoration: underline;
  &:hover {color: $monza;}
}

h3, .h3, h5, .h5 {
  font-weight: 400;
}

.text-clear {color: $boulder;}
.text-sans {font-family: $font-family-sans-serif;}

em, i {
  font-style: normal;
}

blockquote {
  border-left: none;
  padding-left: 0;
}

figure {
  margin: 1em 0;
}

figcaption {
  font-size: $font-size-small;
}
