---
notes: |
  ##### Introduced : 0.1.0
  ##### Updated : 0.1.1
  ##### Usage : `{{> facet-sidebar }}`
---
<div class="facet-sidebar">
  <div class="text-right">
    <button class="btn btn-link btn-xs" id="close-all-facets">Tout fermer</button>
  </div>
  {{#each facets }}
    {{> facet-group facet-object=this }}
  {{/each}}
  <a href="creation-collection.html" class="btn btn-primary">Enregistrer la recherche</a>
  <p><small class="text-clear text-sans"><em>Il vous est possible d'enregistrer cette recherche et d'en faire une collection.</em></small></p>
</div>
