---
notes: |
  ##### Introduced : 0.1.0
  ##### Updated : 0.1.1
  ##### Usage : `{{> facet-sidebar }}`
---
<div class="facet-sidebar">
  {{#each facets }}
    {{> facet-group facet-object=this }}
  {{/each}}
</div>
