---
notes: |
  ##### Introduced : 0.5.0
  ##### Updated : -
  ##### Usage : `{{> map }}`
---
<div id="demo-map" style="height:400px;"></div>

<script src="https://maps.googleapis.com/maps/api/js"></script>
<script src="https://googlemaps.github.io/js-marker-clusterer/examples/data.json"></script>
<script src="https://googlemaps.github.io/js-marker-clusterer/src/markerclusterer.js"></script>
<script>
  var styles = [{
    url: '../build/img/marker-small.png',
    width: 48,
    height: 48,
    anchor: [0, 0],
    textColor: '#FFFFFF',
    textSize: 12
  }, {
    url: '../build/img/marker-medium.png',
    width: 64,
    height: 64,
    anchor: [0, 0],
    textColor: '#FFFFFF',
    textSize: 15
  }, {
    url: '../build/img/marker-big.png',
    width: 80,
    height: 80,
    anchor: [0, 0],
    textColor: '#FFFFFF',
    textSize: 20
  }];

  function initialize() {
    var center = new google.maps.LatLng(46.530408, 6.617474);

    var map = new google.maps.Map(document.getElementById('demo-map'), {
      zoom: 3,
      center: center,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    var markers = [];
    for (var i = 0; i < 100; i++) {
      var dataPhoto = data.photos[i];
      var latLng = new google.maps.LatLng(dataPhoto.latitude,
          dataPhoto.longitude);
      var marker = new google.maps.Marker({
        position: latLng
      });
      markers.push(marker);
    }

    var markerCluster = new MarkerClusterer(map, markers, {
      styles: styles,
      gridSize: 65
    });
  }

  google.maps.event.addDomListener(window, 'load', initialize);
</script>
