---
notes: |
  ##### Introduced : 0.6.0
  ##### Usage : `{{> media-mondrian }}`
---
<div class="media-mondrian">

  <div class="media-mondrian-item media-mondrian-item-xl">
    <a href="detail.html">
      <div class="media-mondrian-thumbnail">
        <img src="http://notrehistoire.ch.s3.amazonaws.com/photos/2016/03/7864ebef395b5417.jpg" class="img-responsive" alt="" width="1200" height="780"/>
      </div>
      <div class="media-mondrian-caption">
        <span><strong>Photo du jour</strong> <br/>Territet vu du Léman</span>
        <div class="pull-right">
            <small><i class="icons icons-camera"></i></small>
        </div>
        <div class="clearfix"></div>
      </div>
    </a>
  </div>
  <div class="media-mondrian-item media-mondrian-item-text media-mondrian-item-md">
    <a href="/basic-page.html">
      <h3>Partagez vos archives et contribuez à illustrer l'histoire de la Suisse</h3>
      <p>
        Notre Histoire est la première plateforme participative déidiée aux archives de Suisse Romande. Elle a pour but de créer une fresque en image et en sons de l'histoire de notre région.
      </p>
      <p>
        <strong>En apprendre plus sur le projet ➜</strong>
      </p>
    </a>
  </div>


  <div class="media-mondrian-item media-mondrian-item-sm">
    <a href="detail.html">
      <div class="media-mondrian-thumbnail">
        <img src="http://notrehistoire.ch.s3-eu-west-1.amazonaws.com/photos/2009/11/10b70108a77a54cd_jpg_530x530_q85.jpg" class="img-responsive" alt=""/>
      </div>
      <div class="media-mondrian-caption">
        <span>Promenade du dimanche</span>
        <div class="pull-right">
            <small><i class="icons icons-camera"></i></small>
        </div>
        <div class="clearfix"></div>
      </div>
    </a>
  </div>

  <div class="media-mondrian-item media-mondrian-item-xs">
    <a href="detail.html">
      <div class="media-mondrian-thumbnail">
        <img src="http://notrehistoire.ch.s3-eu-west-1.amazonaws.com/photos/2016/02/426080ebf50aa64a_jpg_530x530_upscale_q85.jpg" class="img-responsive" alt=""/>
      </div>
      <div class="media-mondrian-caption">
        <span>Trains de Suisse</span>
        <div class="pull-right">
            400&nbsp;<small><i class="icons icons-newspaper"></i></small>
        </div>
        <div class="clearfix"></div>
      </div>
    </a>
  </div>

  <div class="media-mondrian-item media-mondrian-item-xs">
    <a href="detail.html">
      <div class="media-mondrian-thumbnail">
        <img src="http://fonsart.github.io/NHdesign/build/img/hompeage_logo_rts.png" class="img-responsive" alt=""/>
      </div>
      <div class="media-mondrian-caption">
        <span>Fond d'archive RTS</span>
        <div class="pull-right">
            400'000&nbsp;<small><i class="icons icons-newspaper"></i></small>
        </div>
        <div class="clearfix"></div>
      </div>
    </a>
  </div>

  <div class="media-mondrian-item media-mondrian-item-xs">
    <a href="detail.html">
      <div class="media-mondrian-thumbnail">
        <img src="http://fonsart.github.io/NHdesign/build/img/hompeage_logo_ringier.png" class="img-responsive" alt=""/>
      </div>
      <div class="media-mondrian-caption">
        <span>Fond d'archive Ringier</span>
        <div class="pull-right">
            80'000&nbsp;<small><i class="icons icons-newspaper"></i></small>
        </div>
        <div class="clearfix"></div>
      </div>
    </a>
  </div>
  <div class="media-mondrian-item media-mondrian-item-fact media-mondrian-item-text media-mondrian-item-sm">
    <h2>46'021 médias sur notrehistoire.ch</h2>
  </div>
  <div class="media-mondrian-item media-mondrian-item-sm">
    <a href="detail.html">
      <div class="media-mondrian-thumbnail">
        <img src="http://notrehistoire.ch.s3.amazonaws.com/photos/2014/06/2fd9556b96067f50.jpg" class="img-responsive" alt="" width="400" height="400"/>
      </div>
      <div class="media-mondrian-caption">
        <span>Expo02 – Arteplage d'Yverdon</span>
        <div class="pull-right">
            <small><i class="icons icons-camera"></i></small>
        </div>
        <div class="clearfix"></div>
      </div>
    </a>
  </div>

  <div class="media-mondrian-item media-mondrian-item-xs">
    <a href="detail.html">
      <div class="media-mondrian-thumbnail">
        <img src="http://notrehistoire.ch.s3-eu-west-1.amazonaws.com/photos/2016/03/e69176c0b7868d3c_jpg_464x464_upscale_q85.jpg" class="img-responsive" alt=""/>
      </div>
      <div class="media-mondrian-caption">
        <span>Un ancien wagon du Territet-Glion</span>
        <div class="pull-right">
            <small><i class="icons icons-camera"></i></small>
        </div>
        <div class="clearfix"></div>
      </div>
    </a>
  </div>

  <div class="media-mondrian-item media-mondrian-item-xs">
    <a href="detail.html">
      <div class="media-mondrian-thumbnail">
        <img src="http://fonsart.github.io/NHdesign/build/img/homepage_logo_expo64.png" class="img-responsive" alt="" width="200" height="200"/>
      </div>
      <div class="media-mondrian-caption">
        <span>L'Exposition nationale de 1964</span>
        <div class="pull-right">
            432&nbsp;<small><i class="icons icons-newspaper"></i></small>
        </div>
        <div class="clearfix"></div>
      </div>
    </a>
  </div>

  <div class="media-mondrian-item media-mondrian-item-sm">
    <a href="detail.html">
      <div class="media-mondrian-thumbnail">
        <img src="http://notrehistoire.ch.s3.amazonaws.com/photos/2015/03/ed624ee7f527806b.jpg" class="img-responsive" alt="" width="400" height="628"/>
      </div>
      <div class="media-mondrian-caption">
        <span> Tours et gratte-ciel romands</span>
        <div class="pull-right">
            183&nbsp;<small><i class="icons icons-newspaper"></i></small>
        </div>
        <div class="clearfix"></div>
      </div>
    </a>
  </div>
  <div class="media-mondrian-item media-mondrian-item-blog media-mondrian-item-text media-mondrian-item-sm">
    <a href="/blog">
      <h6><i class="glyphicons glyphicons-certificate"></i> En direct du blog de Notre Histoire </h6>
      <h3>À quoi servent les collections ?</h3>
      <p>
        Comment s'y retrouver entre les collections intelligente et manuelles et collaboratives. Notre guide pour vous simplifier la vie.
      </p>
    </a>
  </div>
  <div class="media-mondrian-item media-mondrian-item-sm">
  <a href="detail.html">
    <div class="media-mondrian-thumbnail">
      <img src="http://notrehistoire.ch.s3-eu-west-1.amazonaws.com/photos/2012/04/9eb0b78dc37b87b8_jpg_464x464_upscale_q85.jpg" class="img-responsive" alt=""/>
    </div>
    <div class="media-mondrian-caption">
      <span>Le Glacier du Rhône</span>
      <div class="pull-right">
          <small><i class="icons icons-camera"></i></small>
      </div>
      <div class="clearfix"></div>
    </div>
  </a>
</div>
  <div class="media-mondrian-item media-mondrian-item-sm">
    {{> axis }}
  </div>

  <div class="media-mondrian-item media-mondrian-item-xs">
    <a href="detail.html">
      <div class="media-mondrian-thumbnail">
        <img src="http://notrehistoire.ch.s3-eu-west-1.amazonaws.com/photos/2016/01/ba610aba0e3d3701_JPG_464x464_upscale_q85.jpg" class="img-responsive" alt="" width="200"/>
      </div>
      <div class="media-mondrian-caption">
        <span>David et Goliath 1959</span>
        <div class="pull-right">
            <small><i class="icons icons-camera"></i></small>
        </div>
        <div class="clearfix"></div>
      </div>
    </a>
  </div>

  <div class="media-mondrian-item media-mondrian-item-xs">
    <a href="detail.html">
      <div class="media-mondrian-thumbnail">
        <img src="http://www.ticketcorner.ch/obj/media/CH-eventim/galery/222x222/m/montreux-jazz-festival-tickets.gif" class="img-responsive" alt="" width="200" height="200"/>
      </div>
      <div class="media-mondrian-caption">
        <span>Fond d'archive du Montreux Jazz</span>
        <div class="pull-right">
            832&nbsp;<small><i class="icons icons-newspaper"></i></small>
        </div>
        <div class="clearfix"></div>
      </div>
    </a>
  </div>
  <div class="media-mondrian-item media-mondrian-item-comment media-mondrian-item-sm">
    {{> comment }}
    <div class="media-mondrian-caption">
      <span>Le bonheur parmi les narcisses!</span>
      <div class="pull-right">
          5&nbsp;<small><i class="glyphicon glyphicon-comment"></i></small>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="media-mondrian-item media-mondrian-item-sm">
    <a href="detail.html">
      <div class="media-mondrian-thumbnail">
        <img src="http://notrehistoire.ch.s3-eu-west-1.amazonaws.com/photos/2014/07/e29c33b5154da63f_jpg_530x530_q85.jpg" class="img-responsive" alt="" width="400"/>
      </div>
      <div class="media-mondrian-caption">
        <span>Faire schmolitz!</span>
        <div class="pull-right">
            <small><i class="icons icons-camera"></i></small>
        </div>
        <div class="clearfix"></div>
      </div>
    </a>
  </div>
  <div class="media-mondrian-item media-mondrian-item-xs">
    <a href="detail.html">
      <div class="media-mondrian-thumbnail">
        <img src="http://notrehistoire.ch.s3-eu-west-1.amazonaws.com/users/avatar/2010/04/d1956651118ec894_png_168x168_crop_q85.jpg" class="img-responsive" alt="" width="200"/>
      </div>
      <div class="media-mondrian-caption">
        <span>Raphael Briner</span>
        <div class="pull-right">
            <small><i class="glyphicon glyphicon-user"></i></small>
        </div>
        <div class="clearfix"></div>
      </div>
    </a>
  </div>

</div>
