---
notes: |
  ##### Introduced : 0.0.3
  ##### Updated : -
  ##### Usage : `{{> media-grid }}`
---
<div class="media-grid">
  {{#each medias }}
    {{> media-item mediaobject=this }}
  {{/each}}
</div>
