---
notes: |
  ##### Introduced : 0.6.0
  ##### Usage : `{{> media-mondrian }}`
---
<div class="media-mondrian media-mondrian-flex">

  <div class="media-mondrian-item media-mondrian-item-xl media-mondrian-item-first">
    <a href="http://web2016.notrehistoire.ch/medias/11742">
      <div class="media-mondrian-thumbnail">
        <img data-object-fit="cover" src="http://notrehistoire.ch.s3.amazonaws.com/photos/2010/03/b73135467630813c.jpg" class="img-responsive" alt="" />
      </div>
      <div class="media-mondrian-caption">
        <b>Photo du jour</b>
        <div>
          <em>Pendant les moissons, photographie prise dans les années 1940 à la Campagne de Budé, au Petit-Saconnex, à Genève ( collection Jean-Philippe Marti)</em>
        </div>
      </div>
    </a>
  </div>
</div>
<div class="media-mondrian media-mondrian-flex">

  <a class="media-mondrian-item media-mondrian-item-no-caption media-mondrian-item-slogan media-mondrian-item-text media-mondrian-item-md " href="http://web2016.notrehistoire.ch/pages/le-projet-notrehistoire-ch">
    <h1>La Suisse romande fait son&nbsp;Histoire</h1>
    <p class="lead">Partagez vos archives</p>
    <p class="lead">Consultez les collections des institutions</p>
    <p class="lead">Créez vos dossiers thématiques</p>
  </a>

  <a class="media-mondrian-item media-mondrian-item-sm" href="http://web2016.notrehistoire.ch/collection/919-hockey-romand">
    <div class="media-mondrian-thumbnail" style="background-image: url(http://notrehistoire.ch.s3.amazonaws.com/photos/2016/01/ca3a54f5d1236ffb.jpg);">
      <img src="http://notrehistoire.ch.s3.amazonaws.com/photos/2016/01/ca3a54f5d1236ffb.jpg" class="img-responsive" alt=""/>
    </div>
    <div class="media-mondrian-caption">
      <b>Nouvelle collection</b>
      <div>
          <em>Hockey romand</em>
      </div>
    </div>
  </a>


  <a class="media-mondrian-item media-mondrian-item-md" href="http://web2016.notrehistoire.ch/medias/11166">
    <div class="media-mondrian-thumbnail" style="background-image: url(http://notrehistoire.ch.s3.amazonaws.com/photos/2010/03/c40a43931ede3320.jpg);">
      <img src="http://notrehistoire.ch.s3.amazonaws.com/photos/2010/03/c40a43931ede3320.jpg" class="img-responsive" alt=""/>
    </div>
    <div class="media-mondrian-caption">
      <b>Document le plus aimé</b>
      <div>
          <em>Les 2 dragons et la cantinière</em>
      </div>
    </div>
  </a>

  <a class="media-mondrian-item media-mondrian-item-sm" href="http://web2016.notrehistoire.ch/collection/507-sous-la-protection-de-la-croix-rouge">
    <div class="media-mondrian-thumbnail" style="background-image: url(http://notrehistoire.ch.s3.amazonaws.com/photos/2013/07/45e27158b7d2603a.jpg);">
      <img src="http://notrehistoire.ch.s3.amazonaws.com/photos/2013/07/45e27158b7d2603a.jpg" class="img-responsive" alt=""/>
    </div>
    <div class="media-mondrian-caption">
      <b>Nouveau dossier</b>
      <div>
          <em>Sous la protection du CICR</em>
      </div>
    </div>
  </a>

  <div class="media-mondrian-item media-mondrian-item-button media-mondrian-item-sm">
    <div class="media-mondrian-thumbnail" style="background-image: url(http://notrehistoire.ch.s3.amazonaws.com/photos/2011/06/26a029039e8a61c3.jpg);">
      <img src="http://notrehistoire.ch.s3.amazonaws.com/photos/2011/06/26a029039e8a61c3.jpg" class="img-responsive" alt=""/>
    </div>
    <div class="media-mondrian-content">
      <a class="btn btn-primary btn-lg btn-block" href="http://web2016.notrehistoire.ch/search/">
      Toutes les collections ›
      </a>
    </div>
  </div>

  <a class="media-mondrian-item media-mondrian-item-number media-mondrian-item-no-caption media-mondrian-item-text media-mondrian-item-slogan media-mondrian-item-sm" href="http://web2016.notrehistoire.ch/search/">
    <h2>86'678 <span>documents</span></h2>
  </a>

  <a class="media-mondrian-item media-mondrian-item-sm" href="http://web2016.notrehistoire.ch/collection/816-les-tunnels-routiers-et-ferroviaires-en-suisse">
    <div class="media-mondrian-thumbnail" style="background-image: url(http://notrehistoire.ch.s3.amazonaws.com/photos/2016/02/a37aa61b77a1ea52.jpg);">
      <img src="http://notrehistoire.ch.s3.amazonaws.com/photos/2016/02/a37aa61b77a1ea52.jpg" class="img-responsive" alt=""/>
    </div>
    <div class="media-mondrian-caption">
      <b>Collection la plus suivie</b>
      <div>
        <em>Les tunnels routiers et ferroviaires de Suisse</em>
      </div>
    </div>
  </a>

  <a class="media-mondrian-item media-mondrian-item-xs" href="http://web2016.notrehistoire.ch/medias/19943">
    <div class="media-mondrian-thumbnail" style="background-image: url(http://notrehistoire.ch.s3.amazonaws.com/photos/2011/04/8c5b36cbff94fc50.jpg);">
      <img src="http://notrehistoire.ch.s3.amazonaws.com/photos/2011/04/8c5b36cbff94fc50.jpg" class="img-responsive" alt=""/>
    </div>
    <div class="media-mondrian-caption">
      <b>Document le plus consulté</b>
      <div>
        <em>À l'alpage</em>
      </div>
    </div>
  </a>

  <a class="media-mondrian-item media-mondrian-item-sm" href="http://web2016.notrehistoire.ch/collection/392-les-reperages-de-notrehistoire">
    <div class="media-mondrian-thumbnail" style="background-image: url(../build/img/NH-ski.png);">
      <img src="../build/img/NH-ski.png" class="img-responsive" alt=""/>
    </div>
    <div class="media-mondrian-caption">
      <b>Dossier le plus consulté</b>
      <div>
        <em>Le ski gonflé</em>
      </div>
    </div>
  </a>

  <a class="media-mondrian-item media-mondrian-item-comment media-mondrian-item-sm" href="http://www.notrehistoire.ch/photo/view/60505/">
    <div class="media-mondrian-content">
      <blockquote>
        <p>Le port du pantalon était impensable pour les filles. A Genève, dans les années 1950, on nous interdisait le port du pantalon.</p>
        <footer>
          Claire Bärtschi-Flohr
        </footer>
      </blockquote>
    </div>
    <div class="media-mondrian-caption">
      <b>Commentaire - la tuilerie</b>
    </div>
  </a>

  <a class="media-mondrian-item media-mondrian-item-xs" href="http://web2016.notrehistoire.ch/profile/3448">
    <div class="media-mondrian-thumbnail" style="background-image: url(http://dhlabsrv4.epfl.ch/iiif_letemps/GDL_1969_11_19_1/full/2048,/0/default.jpg);">
      <img src="http://dhlabsrv4.epfl.ch/iiif_letemps/GDL_1969_11_19_1/full/2048,/0/default.jpg" class="img-responsive" alt=""/>
    </div>
    <div class="media-mondrian-caption">
      <b>Le Temps archives</b>
    </div>
  </a>

  <a class="media-mondrian-item media-mondrian-item-xs" href="http://web2016.notrehistoire.ch/profile/8-television-suisse-romande">
    <div class="media-mondrian-thumbnail" style="background-image: url(../build/img/NH-archives-rts.png);">
      <img src="../build/img/NH-archives-rts.png" class="img-responsive" alt=""/>
    </div>
    <div class="media-mondrian-caption">
      <b>Les Archives de la RTS</b>
    </div>
  </a>

  <div class="media-mondrian-item media-mondrian-item-button media-mondrian-item-sm">
    <div class="media-mondrian-thumbnail" style="background-image: url(http://notrehistoire.ch.s3.amazonaws.com/photos/2011/11/a7b52e09cb671e3f.jpg);">
      <img src="http://notrehistoire.ch.s3.amazonaws.com/photos/2011/11/a7b52e09cb671e3f.jpg" class="img-responsive" alt=""/>
    </div>
    <div class="media-mondrian-content">
      <a class="btn btn-primary btn-lg btn-block" href="http://web2016.notrehistoire.ch/search/">
      Documents du jour ›
      </a>
    </div>
  </div>

  <a class="media-mondrian-item media-mondrian-item-md" href="http://web2016.notrehistoire.ch/collection/190-lieux-a-identifier">
    <div class="media-mondrian-thumbnail" style="background-image: url(http://notrehistoire.ch.s3.amazonaws.com/photos/2016/02/5839f988d108053e.jpg);">
      <img src="http://notrehistoire.ch.s3.amazonaws.com/photos/2016/02/5839f988d108053e.jpg" class="img-responsive" alt=""/>
    </div>
    <div class="media-mondrian-caption">
      <b>Appel à témoin</b>
      <div>
        <em>Collège Calvin, Genève. Classe Maturité</em>
      </div>
    </div>
  </a>


  <a class="media-mondrian-item media-mondrian-item-text media-mondrian-item-sm" href="http://web2016.notrehistoire.ch/medias/3123">
    <div class="media-mondrian-content">
      <h4>"Rosette pour l’exemple" de Claude Torracinta</h4>
      <p>
        – Menacée d’arrestation en France, Rosette Wolczak franchit la frontière suisse le 24 septembre 1943. En raison de son âge et conformément aux directives fédérales, cette adolescente juive doit être accueillie.
      </p>
    </div>
    <div class="media-mondrian-caption">
      <b>Actualité</b>
    </div>
  </a>

  <a  class="media-mondrian-item media-mondrian-item-sm" href="http://web2016.notrehistoire.ch/pages/le-projet-notrehistoire-ch">
    <div class="media-mondrian-thumbnail no-trick">
      <img src="../build/img/rts-fonsart-collaboration.jpg" class="img-responsive" alt=""/>
    </div>
    <div class="media-mondrian-caption">
      <b>La plateforme notreHistoire.ch est éditée par la FONSART et soutenue par la RTS</b>
    </div>
  </a>

  <a  class="media-mondrian-item media-mondrian-item-sm" href="http://www.leenaards.ch/">
    <div class="media-mondrian-thumbnail no-trick">
      <img src="../build/img/leenaards.png" class="img-responsive" alt=""/>
    </div>
    <div class="media-mondrian-caption">
      <b>La plateforme est soutenue par la Fondation Leenaards</b>
    </div>
  </a>

</div>
