---
notes: |
  ##### Introduced : 0.0.5
  ##### Updated : -
  ##### Usage : `{{> media-list }}`
---
<div id="media-container" class="media-list">
  {{#each medias }}
    {{> media-item mediaobject=this }}
  {{/each}}
</div>
