---
notes: |
  ##### Introduced : 0.0.3
  ##### Updated : 0.0.5
  ##### Usage : `{{> media-grid }}`
---
<div id="media-container" class="media-grid">
  {{#each medias }}
    {{> media-item mediaobject=this }}
  {{/each}}
</div>
