---
notes: |
  ##### Introduced : 0.0.5
  ##### Updated : -
  ##### Usage : `{{> media-header }}`
---
<div class="media-header text-right">
  <button id="display-grid" class="btn btn-default">
    <i class="glyphicon glyphicon-th"></i>
  </button>
  <button id="display-list" class="btn btn-default">
    <i class="glyphicon glyphicon-th-list"></i>
  </button>
  <button id="display-map" class="btn btn-default">
    <i class="glyphicon glyphicon-map-marker"></i>
  </button>
</div>
