---
notes: |
  ##### Introduced : 0.0.5
  ##### Updated : 0.3.0
  ##### Usage : `{{> media-list }}`
---
<div id="media-container" class="media-list">
  {{#each medias }}
    {{#ifgroup this.type}}
      {{> group-teaser group-object=this }}
    {{/ifgroup}}
    {{#ifnotgroup this.type}}
      {{> media-item mediaobject=this }}
    {{/ifnotgroup}}
  {{/each}}
</div>
