---
notes: |
  ##### Introduced : 0.6.0
  ##### Usage : `{{> media-mondrian }}`
---
<div class="media-mondrian media-mondrian-flex">

  <div class="media-mondrian-item media-mondrian-item-xl media-mondrian-item-first">
    <a href="http://web2016.notrehistoire.ch/medias/57710">
      <div class="media-mondrian-thumbnail">
        <img data-object-fit="cover" src="http://notrehistoire.ch.s3.amazonaws.com/photos/2016/01/5ad4df4bc855357b.jpg" class="img-responsive" alt="" />
      </div>
      <div class="media-mondrian-caption">
        <b>Photo du jour</b>
        <div>
          <em>Genève - Pont et quai du Mont-Blanc</em>
        </div>
      </div>
    </a>
  </div>
</div>
<div class="media-mondrian media-mondrian-flex">

  <div class="media-mondrian-item media-mondrian-item-no-caption media-mondrian-item-slogan media-mondrian-item-text media-mondrian-item-md ">
    <a href="http://web2016.notrehistoire.ch/pages/le-projet-notrehistoire-ch">
      <h1>La Suisse romande fait son&nbsp;Histoire&nbsp;!</h1>
      <p class="lead">Partagez vos archives</p>
      <p class="lead">Consultez les collections des institutions</p>
      <p class="lead">Créer vos dossiers thématiques</p>
    </a>
  </div>

  <div class="media-mondrian-item media-mondrian-item-sm">
    <a href="http://web2016.notrehistoire.ch/collection/919-hockey-romand">
      <div class="media-mondrian-thumbnail">
        <img src="http://notrehistoire.ch.s3.amazonaws.com/photos/2016/01/ca3a54f5d1236ffb.jpg" class="img-responsive" alt=""/>
      </div>
      <div class="media-mondrian-caption">
        <b>Nouvelle collection</b>
        <div>
            <em>Hockey romand</em>
        </div>
      </div>
    </a>
  </div>


  <div class="media-mondrian-item media-mondrian-item-md">
    <a href="http://web2016.notrehistoire.ch/medias/1717">
      <div class="media-mondrian-thumbnail">
        <img src="http://www.rts.ch/2015/08/31/14/10/7043456.image?w=1200&h=899" class="img-responsive" alt=""/>
      </div>
      <div class="media-mondrian-caption">
        <b>Document le plus aimé</b>
        <div>
            <em>Imprimer La Feuille d'Avis de Lausanne</em>
        </div>
      </div>
    </a>
  </div>

  <div class="media-mondrian-item media-mondrian-item-sm">
    <a href="http://web2016.notrehistoire.ch/collection/509-les-cinemas-aujourdhui-disparus-de-suisse-romande">
      <div class="media-mondrian-thumbnail">
        <img src="http://notrehistoire.ch.s3.amazonaws.com/groups/icon/2012/01/f5cead09fd73c821.jpg" class="img-responsive" alt=""/>
      </div>
      <div class="media-mondrian-caption">
        <b>Nouveau dossier</b>
        <div>
            <em>Les cinémas de Suisse romande aujourd’hui disparus</em>
        </div>
      </div>
    </a>
  </div>

  <div class="media-mondrian-item media-mondrian-item-xs">
    <a href="http://web2016.notrehistoire.ch/profile/3446">
      <div class="media-mondrian-content">
        <h4>Les Archives de la RTS</h4>
      </div>
      <div class="media-mondrian-caption">
        <b>Fond d'archive RTS</b>
      </div>
    </a>
  </div>

  <div class="media-mondrian-item media-mondrian-item-no-caption media-mondrian-item-text media-mondrian-item-sm">
    <a href="http://web2016.notrehistoire.ch/search/">
      <h3>Toutes les collections ›</h3>
    </a>
  </div>

  <div class="media-mondrian-item media-mondrian-item-number media-mondrian-item-no-caption media-mondrian-item-text media-mondrian-item-sm">
    <a href="http://web2016.notrehistoire.ch/search/">
      <h2>86'678 <span>médias</span></h2>
    </a>
  </div>

  <div class="media-mondrian-item media-mondrian-item-sm">
    <a href="http://web2016.notrehistoire.ch/profile/451">
      <div class="media-mondrian-thumbnail">
        <img src="http://notrehistoire.ch.s3.amazonaws.com/photos/2013/11/ad4bc69b939f8e6.jpg" class="img-responsive" alt=""/>
      </div>
      <div class="media-mondrian-caption">
        <b>Collection la plus suivie</b>
        <div>
          <em>Pierre Audeoud</em>
        </div>
      </div>
    </a>
  </div>

  <div class="media-mondrian-item media-mondrian-item-xs">
    <a href="http://web2016.notrehistoire.ch/medias/1540">
      <div class="media-mondrian-thumbnail">
        <img src="http://webcg.scdn.arkena.com/10797/notrehistoire/3572553f31b101b7.mp4.jpg" class="img-responsive" alt=""/>
      </div>
      <div class="media-mondrian-caption">
        <b>Document le plus consulté</b>
        <div>
          <em>Moisson en 1964</em>
        </div>
      </div>
    </a>
  </div>

  <div class="media-mondrian-item media-mondrian-item-sm">
    <a href="http://web2016.notrehistoire.ch/collection/361-les-gares-romandes">
      <div class="media-mondrian-thumbnail">
        <img src="http://notrehistoire.ch.s3.amazonaws.com/groups/icon/2010/11/8764c12a787c1b4d.jpg" class="img-responsive" alt=""/>
      </div>
      <div class="media-mondrian-caption">
        <b>Dossier le plus consulté</b>
        <div>
          <em>Les gares romandes</em>
        </div>
      </div>
    </a>
  </div>

  <div class="media-mondrian-item media-mondrian-item-comment media-mondrian-item-sm">
    <a href="http://www.notrehistoire.ch/photo/view/60505/">
      <div class="media-mondrian-content">
        <b>Commentaire</b>
        <blockquote>
          <p>Le port du pantalon était impensable pour les filles. A Genève, dans les années 1950, on nous interdisait le port du pantalon.</p>
          <footer>
            Claire Bärtschi-Flohr
          </footer>
        </blockquote>
      </div>
      <div class="media-mondrian-caption">
        <b>Dernier commentaire - la tuilerie</b>
      </div>
    </a>
  </div>

  <div class="media-mondrian-item media-mondrian-item-xs">
    <a href="http://web2016.notrehistoire.ch/profile/3448">
      <div class="media-mondrian-content">
        <h4>La Gazette de Lausanne et le Journal de Genève</h4>
      </div>
      <div class="media-mondrian-caption">
        <b>Nouvelle institution</b>
        <div>
          <em>Les archives du Temps</em>
        </div>
      </div>
    </a>
  </div>

  <div class="media-mondrian-item media-mondrian-item-no-caption media-mondrian-item-text media-mondrian-item-sm">
    <a href="http://web2016.notrehistoire.ch/search/?sort=-created_at">
      <h3>Documents du jour ›</h3>
    </a>
  </div>

  <div class="media-mondrian-item media-mondrian-item-xs">
    <a href="http://web2016.notrehistoire.ch/medias/58278">
      <div class="media-mondrian-thumbnail">
        <img src="http://notrehistoire.ch.s3.amazonaws.com/photos/2016/02/5839f988d108053e.jpg" class="img-responsive" alt=""/>
      </div>
      <div class="media-mondrian-caption">
        <b>Appel à témoin</b>
        <div>
          <em>Collège Calvin, Genève. Classe Maturité</em>
        </div>
      </div>
    </a>
  </div>


  <div class="media-mondrian-item media-mondrian-item-text media-mondrian-item-sm">
    <a href="http://web2016.notrehistoire.ch/medias/3123">
      <div class="media-mondrian-content">
        <h4>"Rosette pour l’exemple" de Claude Torracinta</h4>
        <p>
          – Menacée d’arrestation en France, Rosette Wolczak franchit la frontière suisse le 24 septembre 1943. En raison de son âge et conformément aux directives fédérales, cette adolescente juive doit être accueillie.
        </p>
      </div>
      <div class="media-mondrian-caption">
        <b>Actualité</b>
      </div>
    </a>
  </div>

  <div class="media-mondrian-item media-mondrian-item-sm">
    <a href="http://fonsart.ch/">
      <div class="media-mondrian-thumbnail">
        <img src="../build/img/rts-fonsart-collaboration.jpg" class="img-responsive" alt=""/>
      </div>
      <div class="media-mondrian-caption">
        <b>La plateforme notreHistoire.ch est éditée par la FONSART et soutenue par la RTS</b>
      </div>
    </a>
  </div>


</div>
