---
notes: |
  ##### Introduced : 0.0.2
  ##### Updated : 0.4.2
  ##### Usage : `{{> navbar }}`
---
<nav class="navbar navbar-default">
  <div class="navbar-header">
    <a class="navbar-brand" href="demo.html"><h1 class="h4">Notre histoire</h1></a>
  </div>

  <form id="search-form" class="navbar-form navbar-left" role="search">
    <input type="text" class="form-control" placeholder="Rechercher" />
    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
  </form>

  <a href="upload.html" class="btn btn-default navbar-btn navbar-right">
    <span class="hidden-xs">Ajouter un média</span>
    <span class="visible-xs glyphicon glyphicon-plus"></span>
  </a>

  <button id="search-mobile" type="button" class="btn btn-default navbar-btn navbar-right visible-xs">
    <span class="visible-xs glyphicon glyphicon-search"></span>
  </button>
</nav>
