---
notes: |
  ##### Introduced : 0.0.2
  ##### Updated : 0.6.0
  ##### Usage : `{{> navbar }}`
---
<nav class="navbar navbar-default">
  {{> search-field }}

  <a class="navbar-brand" href="demo.html">
    <img class="img-responsive" src="{{#if fabricator}}./{{else}}./../{{/if}}build/svg/nh-brand.svg" onerror="this.onerror=null; this.src='{{#if fabricator}}./{{else}}./../{{/if}}build/img/nh-brand.png'" />
  </a>

  <a href="upload.html" class="btn btn-default navbar-btn navbar-right">
    <span class="hidden-xs">Ajouter un média</span>
    <span class="visible-xs glyphicon glyphicon-plus"></span>
  </a>

  <button id="search-mobile" type="button" class="btn btn-default navbar-btn navbar-right visible-xs">
    <span class="visible-xs glyphicon glyphicon-search"></span>
  </button>
</nav>
