---
notes: |
  ##### Introduced : 0.1.2
  ##### Updated : -
  ##### Usage : `{{> panel-left }}`
---
<div class="panel panel-left panel-animate panel-leave panel-leaving">
  <button type="button" class="navbar-toggle panel-button">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <div class="panel-content">

  </div>
</div>
