---
notes: |
  ##### Introduced : 0.1.2
  ##### Updated : -
  ##### Usage : `{{> panel-right }}`
---
<div class="panel panel-right panel-animate panel-leave panel-leaving">
  <button type="button" class="btn btn-default panel-button">
    <span class="hidden-xs">Connexion</span>
    <span class="visible-xs glyphicon glyphicon-user"></span>
  </button>
  <div class="panel-content">

  </div>
</div>
