---
notes: |
  ##### Introduced : 0.1.2
  ##### Updated : 0.4.2
  ##### Usage : `{{> panel-left }}`
  add prefix "side-" to avoid bootstrap panel conflict
---
<div class="side-panel side-panel-left side-panel-animate side-panel-leave side-panel-leaving bg-mine-shaft">
  <button type="button" class="navbar-toggle panel-button">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <div class="side-panel-content">

  </div>
</div>
