---
notes: |
  ##### Introduced : 0.4.1
  ##### Usage : `{{> tabbar }}`
---
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Boîte de réception</a></li>
  <li role="presentation"><a href="#">Messages envoyés</a></li>
  <li class="pull-right"><a href="#" class="btn btn-sm btn-primary">Rédiger un nouveau message</a></li>
</ul>
