@charset "UTF-8";

.article-container {
  font-size: $font-size-large;
  padding: 4em 1em;
}

.media-container {
  position: relative;

  &:not(.article-container) {background: $gallery-2;}

  img {
    margin: 0 auto;
    max-height: 60vh;
  }

  .media-action {
    position: absolute;
    right: 0;
    bottom: 100%;

    a {
      background: $gallery-2;
      color: $tundora;
      margin-bottom: 0;
      border-radius: $btn-border-radius-small $btn-border-radius-small 0 0 !important;
    }
  }
}
