@charset "UTF-8";

.navbar {
  font-size: $font-size-large;
  .form-control {
    font-size: $font-size-large;
    border-color: transparent;
    box-shadow: none;
    padding: 6px 0;
    max-width: 105px;
    &:focus {
      border-bottom-color: $nobel;
    }
  }
  form .btn {
    border-color: transparent;
    padding: 6px 0;
    &:hover {
      background: transparent;
      color: $monza;
    }
  }
}

.navbar-toggle {
  background: $monza;
  display: block;
  float: left;
  margin: 0;
  height: $navbar-height;
  width: $navbar-height;
  padding: ($navbar-height - 16px) / 2;
  transition: background 0.3s;
  > .icon-bar {
    width: 16px;
    & + .icon-bar {margin-top: 5px;}
  }
}

.navbar-brand {
  h4, .h4 {margin: 0;}
}
