@charset "UTF-8";

.panel {
  position: fixed;
  top: 0px;
  bottom: 0px;
  overflow: visible;
  width: 300px;
  max-width: 90%;
  z-index: 2000;
  background: $white;
  box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0);
  transition: transform 0.3s,
              box-shadow 0.3s;
  .panel-button {
    position: absolute;
    top: 0px;
    border: none;
    border-radius: 0;
    .panel-closed-component {display: block;}
    .chevron, .cross {
      display: none;
      top: -0.3em;
    }
  }
  .cross {
    position: relative;
    font-size: 1.4em;
    padding: 0.2em;
  }
  &.panel-entering, &.panel-enter {
    box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.5);
  }
  &.panel-entering .panel-button,
  &.panel-enter .panel-button {
    background: inherit;
    color: $white;
    background: $monza;
    .panel-closed-component {display: none;}
    .chevron, .cross {display: inline-block;}
    &:hover, &:active, &:focus {
      color: $white;
      background: $monza;
    }
    &:hover {background: $carmine;}
  }
  img {
    max-width: 60px;
    margin-right: 6px;
  }
}

.panel-left {
  left: 0px;
  transform: translateX(-300px);
  &.panel-entering {transform: translateX(0px);}
  &.panel-enter {transform: translateX(0px);}
  &.panel-leaving {transform: translateX(-100%);}
  &.panel-leave {transform: translateX(-100%);}
  .panel-button {
    right: $navbar-height * -1;
  }
}

.panel-right {
  right: 0px;
  transform: translateX(300px);
  &.panel-entering {transform: translateX(0px);}
  &.panel-enter {transform: translateX(0px);}
  &.panel-leaving {transform: translateX(100%);}
  &.panel-leave {transform: translateX(100%);}
  .panel-button {
    left: 0px;
    transform: translateX(-100%);
    font-weight: 400;
    height: $navbar-height;
    &:hover, &:active {
      border-color: $white;
      background: $white;
    }
  }
}

.panel-content {
  bottom: 40px;
  overflow: auto;
  position: absolute;
  top: 0px;
  width: 100%;
  box-sizing: border-box;
}

.panel-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.panel {
  .nav-stacked a {
    font-family: $font-family-sans-serif;
    text-decoration: none;
    padding: 12px $grid-gutter-width/2;
    .chevron {border-color: $monza;}
    &:hover {
      color: $monza;
    }
  }
}
