@charset "UTF-8";

.btn {
  font-family: $font-family-sans-serif;
  font-weight: 700;
  text-decoration: none;
  white-space: normal;
  text-align: left;
  transition: color 0.3s,
              background 0.3s,
              border 0.3s;
  margin-bottom: 0.2em;
  border-radius: 10px !important;
  &.btn-block {text-align: center;}
  &:hover, &:focus,  &:active {
    outline: none !important;
    box-shadow: none !important;
  }
}

.btn-primary:hover, .btn-primary:active {
  background: $link-hover-color;
}

.btn-default:hover, .btn-default:active {
  border-color: $white;
}

.input-group {
  .input-group-btn {
    vertical-align: top;
    border-radius: 0px !important;
  }
  .btn {
    white-space: nowrap;
    border-radius: 0px !important;
  }
}

.btn-clear {
  background: $concrete;
  color: $tundora;
  border-radius: 0px !important;
  transition: background 0.3s,
              border-color 0.3s;
  .chevron {
    border-color: $mine-shaft;
    margin-left: $grid-gutter-width;
  }
  &:hover, &:focus {
    color: $brand-primary;
    .chevron {border-color: $brand-primary;}
  }
  &:focus {
    background: $gallery;
  }
}

.btn-link {
  border: 1px solid $brand-primary;
}
