@charset "UTF-8";

.label {
  display: inline-block;
  padding: 0.5em 0.7em;
  font-size: $font-size-small;
  margin-bottom: 0.3em;
  font-weight: 500 !important;
  &.label-default {
    border: 1px solid darken($gallery, 5%);
  }
}
