.no-thumbnail{
  background-color: $gray;
  color: $white;
  min-width: 60px;
  min-height: 60px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  span{
    margin-top: 0.3em;
  }
  a:hover & {
    background-color: $gray-darker;
  }
}
