{{> navbar }}

{{> panel-left }}
{{> panel-right }}
{{> overlay }}

<div class="spacer spacer-xs"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h1 class="text-center">Activités</h1>
      <div class="spacer spacer-xs"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-offset-1 col-md-2" style="background-color:green;">
      <br>
    </div>
    <div class="col-md-8" style="background-color:red;">
     <br>
   </div>
 </div>
</div>