{{> navbar }}

{{> panel-left }}
{{> panel-right }}
{{> overlay }}

<div class="spacer spacer-xs"></div>

<div class="container">
  <div class="spacer spacer-sm"></div>
  <h1 class="text-center">Le projet notrehistoire.ch</h1>

  <div class="spacer spacer-md"></div>

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="row">
        <div class="col-sm-8">
          <p class="lead">
            <strong>notrehistoire.ch</strong> est la première plateforme participative dédiée aux archives de Suisse romande. Elle a pour but de créer une fresque en images et en sons de l’histoire de notre région. Son projet éditorial contribue ainsi à l'illustration d'une histoire sociale et culturelle de la Suisse romande.
          </p>
          <p>
            La plateforme favorise le partage de documents provenant de plusieurs sources : institutions impliquées dans la sauvegarde du patrimoine audiovisuel, particuliers, bibliothèques, musées, communes, cantons, entreprises, associations…
          </p>
          <p>
            <img src="http://notrehistoire.ch.s3.amazonaws.com/photos/2016/01/d706b61166c680a.jpg" class="img-responsive">
          </p>
          <p>
            Les utilisateurs de la plateforme, après avoir ouvert un compte, y déposent des photos scannées, des films, vidéos ou enregistrements sonores numérisés ainsi que des témoignages écrits. Ils publient leurs documents sur la plateforme et les partagent dans des groupes d’intérêt. Les utilisateurs deviennent ainsi des éditeurs de leur propre compte et des groupes d’intérêt qu’ils ont lancés et auxquels ils participent.
          </p>
          <p>
            La plateforme s’articule autour de quatre axes : personnalités, lieux, événements et faits de la vie quotidienne. Ces axes sont en outre divisés en thématiques (politique, culture, société, sport, éducation, etc.)
          </p>
          <p>
            La consultation et l’utilisation de la plateforme sont gratuites et ouvertes à tous. Une inscription est néanmoins nécessaire pour y déposer ses contenus, faire un commentaire, ajouter un complément d’information, suggérer un nouveau groupe d’intérêt…
          </p>
          <p>
            notrehistoire.ch est édité par la Fondation pour la sauvegarde du patrimoine audiovisuel de la Radio Télévision Suisse (FONSART), dans le prolongement du site des archives de la RTS (www.rts.ch/archives).
          </p>
          <p>
            La FONSART vous invite à rejoindre la plateforme notrehistoire.ch et ses différents groupes d’intérêt, à publier vos archives et à participer ainsi à l’enrichissement de cette fresque illustrée de notre histoire.
          </p>

          {{> separator }}

          <p>
            <strong>Editeur</strong>: Fondation pour la sauvegarde du patrimoine audiovisuel de la RTS (FONSART) — <strong>Responsable</strong>: Françoise Clément — <strong>Responsable éditorial</strong>: Claude Zurcher — <strong>Web éditeur</strong>: Patrick Auderset — <strong>Modération</strong>: Albin Salamin — <strong>Développement de la plateforme et intégration technique</strong>: HyperWeek — <strong>Graphisme</strong>: Flexstudio
          </p>
        </div>
        <div class="col-sm-3 col-sm-offset-1 text-sans bg-concrete">
          <h4>Contact</h4>
          <p>
            Si vous souhaitez contacter les responsables du projet, envoyez un message à l'adresse email suivante :<br>
            <a href="mailto:info@notrehistoire.ch">info@notrehistoire.ch</a>
          </p>

          <div class="spacer spacer-xs"></div>

          <h4>Charte des membres</h4>
          <p>
            Chaque membre doit respecter un certain nombre de règles élémentaires lorsqu'il utilise notrehistoire.ch
          </p>
          <p>
            <a href="#">Lire la Charte des membres</a>
          </p>

          <div class="spacer spacer-xs"></div>

          <h4>Prix et récompenses</h4>
          <p>
            <img src="http://notrehistoire.ch.s3-eu-west-1.amazonaws.com/images/award_fiat.png?1453069704" alt="Fiat" />
            <img src="http://notrehistoire.ch.s3-eu-west-1.amazonaws.com/images/award_grand.png?1453069704" alt="GRAND" />
            <img src="http://notrehistoire.ch.s3-eu-west-1.amazonaws.com/images/award_cirtef.png" alt="Cirtef" />
          </p>
          <p>
            <img src="http://notrehistoire.ch.s3-eu-west-1.amazonaws.com/images/award_bestswissweb.png?1453069704" alt="Best of Swiss Web" />
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="spacer spacer-md"></div>
</div>
