{{> navbar }}

{{> panel-left }}
{{> panel-right }}
{{> overlay }}

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h1 class="h2 text-center">Créer un dossier</h1>
      <h4 class="text-center">À partir de la recherche</h4>
      <p class="text-sans text-clear text-center">
        Pour créer votre dossier, merci de compléter les information ci-dessous.
      </p>

      <div class="bordered">
        <h4>Actuellement 48 résultats pour “train”</h4>
        <p>
          {{> label closable=true text="chat" }}
          {{> label closable=true text="chalet" }}
          {{> label closable=true text="montagne" }}
          {{> label closable=true text="chien" }}
          {{> label-hierarchy closable=true parent="Vie quotidienne" child="Transport" }}
          {{> label closable=true text="arc-en-ciel" }}
          {{> label closable=true text="1980-1990" }}
        </p>
        <p class="text-sans">
          Ce dossier basée sur une recherche est mis à jour automatiquement dès qu'un nouveau média correspond aux critères.
        </p>
      </div>

      <div class="spacer spacer-sm"></div>

      <form action="demo.html" class="text-sans">
        <label for="avatar">Choisissez une vignette pour représenter votre dossier</label>
        <div class="row">
          <div class="col-sm-4">
            <img src="{{collection.avatar}}" alt="Vignette de {{collection.title}}" class="img-responsive" />
          </div>
          <div class="col-sm-8">
            <div class="form-group">
              <input type="file" class="form-control" id="avatar" name="avatar" />
            </div>
            <small class="text-clear text-sans"><em>Dimensions minimales: 170x170 pixels. Taille maximale: 2 MB.</em></small>
            <div class="spacer spacer-xs"></div>
            <button class="btn btn-default btn-sm">Effacer l'image</button>
          </div>
        </div>
        <div class="spacer spacer-sm"></div>
        {{> input
              input-id="title"
              input-type="text"
              input-value=collection.title
              input-help="Titre de votre dossier*"
              input-label="Titre de votre dossier*"
        }}
        {{> textarea
              textarea-id="descritpion"
              textarea-label="Description"
              textarea-help=collection.bio
        }}
        <div class="spacer spacer-xs"></div>
        <div class="row">
          <div class="col-sm-6">
            <label for="axe">Axe</label>
            <select name="axe" id="axe" class="form-control">
            <option value="" selected="selected">Sélectionnez un axe</option>
            <option value="1">Ce mois particulier</option>
            <option value="2">Écoles</option>
            <option value="3">Événements</option>
            <option value="4">Lieu</option>
            <option value="5">Personnalités</option>
            <option value="6">Vie quotidienne</option>
          </select>
          </div>
          <div class="col-sm-6">
            <label for="country">Sous-axe</label>
            <select name="axe" id="axe" class="form-control">
              <option value="" selected="selected">Sélectionnez un thème</option>
              <option value="1">-</option>
            </select>
          </div>
        </div>
        <small class="text-clear text-sans"><em>Il vous est possible de classer votre dossier dans un axe avec une thématique</em></small>

     <div class="spacer spacer-xs"></div>

       {{> input
              input-id="tags"
              input-type="text"
              input-label="Tags"
              input-help="Chaque tag doit être séparé par une virgule. (ex: lausanne, cathédrale, 1960)"
        }}
        <div class="spacer spacer-xs"></div>

        <div class="form-group">
          <a href="collection.html" class="btn btn-primary" role="button">Créer</a> <button class="btn btn-default">Annuler</button>
        </div>

      </form>

      <div class="spacer"></div>
    </div>
  </div>
</div>
