{{> navbar }}

{{> panel-left }}
{{> panel-right }}
{{> overlay }}

<div class="container">
  <h1>Votre collection est vide, ajouter votre premier média</h1>
  <h3>Téléverser un fichier (photo, vidéo, son) ou <a href="metadata.html">rédiger un article</a></h3>
  <div class="spacer spacer-sm"></div>
  <form class="uploader" action="add-media.html" method="get" enctype="multipart/form-data">
	  <input type="file" name="files[]" id="filer_input" multiple="multiple" />
	  <input type="submit" class="btn btn-primary pull-right" value="Suivant" />
	</form>
  {{> separator }}
  <div class="text-center">
  	<h3>Ou ajouter depuis</h3>
		<div class="form-group">
	  <a href="profile-person.html" class="btn btn-primary" role="button">Mon profil (56 médias)</a> <a href="demo.html" class="btn btn-primary" role="button">Notre Histoire (457'698 médias)</a>
		  </div>
  </div>
  <div class="spacer spacer-md"></div>
</div>
