{{> navbar }}

{{> panel-left }}
{{> panel-right }}

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="h2 text-center">Vos messages</h1>
      <div class="spacer spacer-sm"></div>

      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          {{> tabbar }}

          <div class="spacer spacer-sm"></div>

          <form action="demo.html" class="text-sans">



            <div class="row">
              <div class="col-sm-8">
                {{> input
                    input-id="to"
                    input-type="text"
                    input-value=message.subject
                    input-help="indiquez le ou les destinataire(s) de votre message"
                    input-label="Destinataire*"
                }}

                {{> input
                      input-id="subject"
                      input-type="text"
                      input-value=message.subject
                      input-help="Sujet de votre message"
                      input-label="Sujet*"
                }}

              </div>
            </div>



            {{> textarea
                  textarea-id="descritpion"
                  textarea-label="Votre message"
            }}


            <div class="form-group">
              <button type="submit" class="btn btn-primary">Envoyer</button>
            </div>

          </form>

        </div>
      </div>


      <div class="spacer"></div>
    </div>
  </div>
</div>
