{{> navbar }}

{{> panel-left }}
{{> panel-right }}

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="h2 text-center">Vos messages</h1>
      <div class="spacer spacer-sm"></div>

      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          {{> tabbar }}

          <div class="spacer spacer-xs"></div>
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingOne">
                <div class="panel-title">
                  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <div class="row">
                      <div class="col-sm-2 text-right">
                        8 Déc 2015, 15:15
                      </div>
                      <div class="col-sm-8">
                        Notre Histoire voudrait que vous envoyiez cette photo dans son groupe. [accepted]
                      </div>
                      <div class="col-sm-1">
                        Marc Friederich
                      </div>
                    </div>
                  </a>
                </div>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                  <p>
                    Bonjour, je suis membre du groupe Ce mois en particulier - novembre 2015 et nous aimerions que vous envoyiez votre document Classe 1989 Vallamand-Dessus dans notre groupe.
                  </p>
                  <div class="spacer spacer-sm"></div>
                  <div class="text-right">
                    <a href="#" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-share-alt"></span> Répondre</a>
                    <a href="#" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-arrow-right"></span> Transmettre</a>
                    <a href="#" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-trash"></span> Effacer</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingTwo">
                <div class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <div class="row">
                      <div class="col-sm-2 text-right">
                        8 Déc 2015, 15:15
                      </div>
                      <div class="col-sm-8">
                        Notre Histoire voudrait que vous envoyiez cette photo dans son groupe. [accepted]
                      </div>
                      <div class="col-sm-1">
                        Marc Friederich
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingThree">
                <div class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <div class="row">
                      <div class="col-sm-2 text-right">
                        8 Déc 2015, 15:15
                      </div>
                      <div class="col-sm-8">
                        Notre Histoire voudrait que vous envoyiez cette photo dans son groupe. [accepted]
                      </div>
                      <div class="col-sm-1">
                        Marc Friederich
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="spacer"></div>
    </div>
  </div>
</div>
