{{> navbar }}

{{> panel-left }}
{{> panel-right }}
{{> overlay }}

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h1>Créer un thème</h1>
      <small class="text-clear text-sans"><em>Merci de compléter les informations concernant ce thème</em></small>
      <div class="spacer spacer-xs"></div>
      <form action="demo.html" class="text-sans">
        {{> input
              input-id="title"
              input-type="text"
              input-label="Titre"
              input-help="Le titre de votre thème"
        }}
        <div class="form-group">
          <label for="day">Vignette du thème</label>
          <p><small class="text-clear text-sans"><em>Si vous ne connaissez pas le jour ou le mois, veuillez essayer d'estimer l'année</em></small></p>
          <form class="uploader" action="theme.html" method="get" enctype="multipart/form-data">
            <input type="file" name="files[]" id="filer_input" multiple="multiple" />
          </form>
        </div>
        {{> textarea
              textarea-id="descritpion"
              textarea-label="Description"
              textarea-help="Décrivez le thème en quelques mots"
        }}
        <div class="form-group">
          <label for="axe">Axe</label>
          <select name="axe" id="axe" class="form-control">
            <option value="" selected="selected">Sélectionnez un axe</option>
            <option value="1">Ce mois particulier</option>
            <option value="2">Écoles</option>
            <option value="3">Événements</option>
            <option value="4">Lieu</option>
            <option value="5">Personnalités</option>
            <option value="6">Vie quotidienne</option>
          </select>
        </div>
        <div class="form-group">
          <label for="axe">Thème</label>
          <select name="axe" id="axe" class="form-control">
            <option value="" selected="selected">Sélectionnez un thème</option>
            <option value="1">-</option>
          </select>
           <small class="text-clear text-sans"><em>Il vous est possible de classer votre thème dans un axe avec une thématique</em></small>
        </div>
        {{> input
              input-id="tags"
              input-type="text"
              input-label="Tags"
              input-help="Chaque tag doit être séparé par une virgule. (ex: lausanne, cathédrale, 1960)"
        }}
        <div class="spacer spacer-xs"></div>
        <button type="submit" class="btn btn-primary">Créer</button> <button class="btn btn-default">Annuler</button>
      </form>
    </div>
  </div>

  <div class="spacer"></div>
</div>
