---
notes: |
  ##### Introduced : 0.4.1
  ##### Updated : 0.5.3
  ##### Usage : `{{> alert }}`
  ##### Options :
  - **alert-variant** - String (`success`, `warning`, `danger`) `info` by default
  - **alert-message** - String
---
<div class="alert alert-{{#if alert-variant}}{{ alert-variant }}{{^}}info{{/if}} alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <div class="alert-message">
    {{#if alert-message}}{{ alert-message }}{{^}}<strong>Coucou!</strong> Ceci est une alerte qui sert à afficher un message super important !{{/if}}
  </div>
</div>
