---
notes: |
  ##### Introduced : 0.5.1
  ##### Updated : -
  ##### Usage : `{{> alert-info }}`
---
<div class="alert alert-info alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <div class="alert-message">
    <i class='icons icons-info-sign'></i> Juste pour information, tout se passe bien
  </div>
</div>
