---
notes: |
  ##### Introduced : 0.4.1
  ##### Updated : -
  ##### Usage : `{{> alert-success }}`
---
<div class="alert alert-success alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <div class="alert-message">
    <i class='icons icons-ok'></i> Votre opération s'est déroulée avec succès !
  </div>
</div>
