---
notes: |
  ##### Usage : `{{> alert-welcome }}`
  ##### Options :
  - **option** - Type
---
<div class="alert alert-info alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <div class="alert-message">
    L'histoire de la Suisse Romande <a href="#" class="alert-link text-muted"><small>En savoir plus</small></a> <a href="#" class="btn btn-default btn-sm">participez</a>
  </div>
</div>
