---
notes: |
  ##### Introduced : 0.6.0
  ##### Usage : `{{> axis }}`
---
<div class="axis">
  <a href="#" class="axis-element">
    <span>
      Événements
    </span>
  </a>
  <a href="#" class="axis-element">
    <span>
      Lieux
    </span>
  </a>
  <a href="#" class="axis-element">
    <span>
      Personnalités
    </span>
  </a>
  <a href="#" class="axis-element">
    <span>
      Vie quotidienne
    </span>
  </a>
</div>
