---
notes: |
  ##### Introduced : 0.6.0
  ##### Usage : `{{> axis }}`
---
<div class="axis">
  <a href="#" class="axis-element">
    Événements
  </a>
  <a href="#" class="axis-element">
    Lieux
  </a>
  <a href="#" class="axis-element">
    Personnalités
  </a>
  <a href="#" class="axis-element">
    Vie quotidienne
  </a>
</div>
