---
notes: |
  ##### Introduced : 0.1.1
  ##### Updated : 0.3.1
  ##### Usage : `{{> comment }}`
  ##### Options :
  - **comment-object** - Object
---
<div class="comment">
  <a href="#">
    <img src="{{#if comment-object}}{{comment-object.avatar}}{{^}}http://notrehistoire.ch.s3-eu-west-1.amazonaws.com/users/avatar/2015/08/876988c033485ccc_jpg_168x168_crop_q85.jpg{{/if}}" alt="{{#if comment-object}}{{comment-object.author}}{{^}}Martine Desarzens{{/if}}" class="img-responsive img-circle">
  </a>
  <h5>
    <a href="#">{{#if comment-object}}{{comment-object.author}}{{^}}Martine Desarzens{{/if}}</a>
    <span class="text-clear">le 5 mars 2013</span>
  </h5>
  <div class="comment-content">
    {{#if comment-object}}
      {{comment-object.comment}}
    {{^}}
      Avez-vous connu, Nicolas, les si jolis petits cartons dans lesquels nous placions délicatement les fleurs de mai que nous envoyions par la poste à notre famille.
    {{/if}}
  </div>
</div>
