---
notes: |
  ##### Introduced : 0.6.0
  ##### Usage : `{{> media-mondrian-item }}`
  ##### Options :
  - **mediaobject** - Object
---
<div class="media-mondrian-item">
 {{> thumbnail-mondrian thumbnail-object=mediaobject }}
</div>
