---
notes: |
  ##### Introduced : 0.3.1
  ##### Updated : -
  ##### Usage : `{{> media-features-bar }}`
---
<div class="media-features-bar">
  <div class="row">
    <div class="col-sm-4">
      <button class="btn btn-link">
        <i class="glyphicon glyphicon-share-alt"></i> Partager
      </button>
      <a href="#" class="btn btn-link">
        <i class="glyphicon glyphicon-comment"></i> Commenter (4)
      </a>
    </div>
    <div class="col-sm-4 text-center">
      <a href="#" class="btn btn-link">
        <i class="glyphicon glyphicon-fullscreen"></i>
      </a>
    </div>
    <div class="col-sm-4 text-right">
      <span class="media-features-bar-infos">
        220 vues&nbsp;&nbsp;<i class="glyphicon glyphicon-eye-open"></i>
      </span>
      <button class="btn btn-link active">
        <i class="glyphicon glyphicon-heart"></i>
      </button>
      <button class="btn btn-link">
        <i class="glyphicon glyphicon-alert"></i>
      </button>
    </div>
  </div>
</div>
