---
notes: |
  ##### Introduced : 0.5.1
  ##### Updated : -
  ##### Usage : `{{> search-field }}`
  ##### Options :
  - **contextualized** - Boolean (default `false`)
---
<form id="search-form" class="navbar-form navbar-left" role="search">
  <input type="text" class="form-control" placeholder="Rechercher" />
  <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
</form>
