---
notes: |
  ##### Introduced : 0.1.6
  ##### Updated : -
  ##### Usage : `{{> uploader }}`
---
<form class="uploader" action="add-media-to-collection.html" method="get" enctype="multipart/form-data">
  <input type="file" name="files[]" id="filer_input" multiple="multiple" />
  <input type="submit" class="btn btn-primary pull-right" value="Suivant" />
</form>
