---
notes: |
  ##### Introduced : 0.1.6
  ##### Updated : -
  ##### Usage : `{{> uploader }}`
---
<form class="uploader" action="/upload/metadata.html" method="get" enctype="multipart/form-data">
  <input type="file" name="files[]" id="filer_input" multiple="multiple">

  <h5>Choisissez la privacité du ou des documents</h5>
  <div class="radio">
    <label>
      <input type="radio" name="optionsRadios" id="private" value="private">
      Privé
    </label>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="optionsRadios" id="public" value="public" checked>
      Public
    </label>
  </div>

  <div class="spacer spacer-sm"></div>

  <input type="submit" class="btn btn-primary" value="Suivant">
</form>
