<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="./../build/css/vendors.min.css">
    <link rel="stylesheet" href="./../build/css/main.css">

    <!--[if lt IE 9]>
      <script src="./../build/js/polyfills.min.js"></script>
    <![endif]-->
  </head>
  <body>


    <nav class="navbar navbar-default">
      <div class="navbar-header">
        <a class="navbar-brand" href="demo.html"><h1 class="h4">Notre histoire</h1></a>
      </div>
    
      <form id="search-form" class="navbar-form navbar-left" role="search">
        
        <input type="text" class="form-control" placeholder="Rechercher" />
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
      </form>
      <a href="upload.html" class="btn btn-default navbar-btn navbar-right">
        <span class="hidden-xs">Ajouter un média</span>
        <span class="visible-xs glyphicon glyphicon-plus"></span>
      </a>
    
      <button id="search-mobile" type="button" class="btn btn-default navbar-btn navbar-right visible-xs">
        <span class="visible-xs glyphicon glyphicon-search"></span>
      </button>
    </nav>
<div class="panel panel-left panel-animate panel-leave panel-leaving">
  <button type="button" class="navbar-toggle panel-button">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar panel-closed-component"></span>
    <span class="icon-bar panel-closed-component"></span>
    <span class="icon-bar panel-closed-component"></span>
    <span class="cross">&times;</span>
  </button>
  <div class="panel-content">
    <ul class="nav nav-stacked">
      <li role="presentation" class="active"><a href="#">
        Aide
        <span class="pull-right"><span class="chevron chevron-right chevron-thin"></span></span>
      </a></li>
      <li role="presentation"><a href="#">
        Forum
        <span class="pull-right"><span class="chevron chevron-right chevron-thin"></span></span>
      </a></li>
      <li role="presentation"><a href="#">
        Blog
        <span class="pull-right"><span class="chevron chevron-right chevron-thin"></span></span>
      </a></li>
      <li role="presentation"><a href="#">
        Contact
        <span class="pull-right"><span class="chevron chevron-right chevron-thin"></span></span>
      </a></li>
      <li role="presentation"><a href="#">
        Partenaires
        <span class="pull-right"><span class="chevron chevron-right chevron-thin"></span></span>
      </a></li>
    </ul>
    <div class="container-fluid">
      <hr />      <h3>
        <div class="text-clear">Le mouvement</div>
        <b>NotreHistoire</b>
      </h3>
      <p class="text-clear text-sans">
        Oremière plateforme participative Suisse romande. Elle a pour but de créer une fresque de médias sur l'histoire de notre région.<br>
        <a href="#">En savoir plus</a>
      </p>
      <hr />    </div>
    <ul class="nav nav-stacked">
      <li role="presentation" class="active"><a href="#">
        Activités récentes
        <span class="pull-right"><span class="chevron chevron-right chevron-thin"></span></span>
      </a></li>
      <li role="presentation"><a href="#">
        Fonds documentaires
        <span class="pull-right"><span class="chevron chevron-right chevron-thin"></span></span>
      </a></li>
    </ul>
  </div>
  <div class="panel-bottom">
    <div class="container-fluid">
      <p class="text-clear text-sans">
        <small><a class="text-clear" href="#">Condition générales</a> - <a class="text-clear" href="#">Impressum</a></small>
      </p>
    </div>
  </div>
</div><div class="panel panel-right panel-animate panel-leave panel-leaving">
  <button type="button" class="btn btn-default panel-button">
    <span class="hidden-xs panel-closed-component">Connexion</span>
    <span class="visible-xs">
      <span class="glyphicon glyphicon-user panel-closed-component"></span>
    </span>
    <span class="cross">&times;</span>
  </button>
  <div class="panel-content">
    <div class="container-fluid">
      <div class="spacer spacer-xs"></div>
      <img src="http://notrehistoire.ch.s3-eu-west-1.amazonaws.com/users/avatar/2015/08/876988c033485ccc_jpg_168x168_crop_q85.jpg" class="img-responsive img-circle pull-left">
      <h4>Martine Desarzens</h4>
      <div class="spacer spacer-sm"></div>
    </div>
    <ul class="nav nav-stacked">
      <li role="presentation" class="active"><a href="#">
        Afficher mon profil
        <span class="pull-right"><span class="chevron chevron-right chevron-thin"></span></span>
      </a></li>
      <li role="presentation"><a href="#">
        Mes médias
        <span class="pull-right"><span class="chevron chevron-right chevron-thin"></span></span>
      </a></li>
      <li role="presentation"><a href="#">
        Mes activités
        <span class="pull-right"><span class="chevron chevron-right chevron-thin"></span></span>
      </a></li>
      <li role="presentation"><a href="#">
        Mes préférences
        <span class="pull-right"><span class="chevron chevron-right chevron-thin"></span></span>
      </a></li>
    </ul>
    <div class="container-fluid">
      <hr />      <p>
        <a href="creation-collection.html" class="btn btn-default btn-sm btn-block" role="button">Créer une collection</a>
      </p>
      <hr />      <a href="#" class="text-sans text-clear">Me déconnecter</a>
    </div>
  </div>
</div><div id="overlay" class="overlay">
</div>
<div class="container-wide">
  <div class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <div class="alert-message">
      <strong>Coucou!</strong> Ceci est une alerte qui sert à afficher un message super important !
    </div>
  </div>  <div class="results-heading text-sans">
    <h1 class="h2">1114 résultats pour “train”</h1>
    <p>
      <span class="label label-default">
        chat
        <button class="label-close">&times;</button>
      </span>    <span class="label label-default">
        chalet
        <button class="label-close">&times;</button>
      </span>    <span class="label label-default">
        montagne
        <button class="label-close">&times;</button>
      </span>    <span class="label label-default">
        chien
        <button class="label-close">&times;</button>
      </span>    <span class="label label-default">
        <strong>Vie quotidienne</strong> &rsaquo; Transport
        <button class="label-close">&times;</button>
      </span>    <span class="label label-default">
        arc-en-ciel
        <button class="label-close">&times;</button>
      </span>    <span class="label label-default">
        1980-1990
        <button class="label-close">&times;</button>
      </span>  </p>
  </div>  <div class="results-navbar text-sans">
    <div class="row">
      <div class="col-sm-9 col-sm-push-3 text-right">
        <strong class="text-clear">
          Trier par
        </strong>
        <select class="form-control">
          <option>Popularité</option>
          <option>Date de publication (nouveautés)</option>
          <option>Date de publication (le plus ancien)</option>
          <option selected="selected">Pertinence</option>
          <option>Date d'origine (le plus récent)</option>
          <option>Date d'orginie (le plus ancien)</option>
          <option>Récemment mis à jour</option>
        </select>
        <span class="vertical-separator"></span>
        <button id="display-grid" class="btn btn-default active">
          <i class="glyphicon glyphicon-th"></i>
        </button>
        <button id="display-list" class="btn btn-default">
          <i class="glyphicon glyphicon-th-list"></i>
        </button>
        <button id="display-map" class="btn btn-default">
          <i class="glyphicon glyphicon-map-marker"></i>
        </button>
      </div>
      <div class="col-sm-3 col-sm-pull-9">
        <button id="toggle-sidebar" class="btn btn-clear btn-sm">Filtres <span class="chevron chevron-right chevron-thin"></span></button>
      </div>
    </div>
  </div>  <div class="row">
    <div id="sidebar" class="sidebar col-sm-3">
      <div class="facet-sidebar">
        <div class="text-right">
          <button class="btn btn-link btn-xs" id="close-all-facets">Tout fermer</button>
        </div>
          <div class="facet-group open">
            <div class="facet-title">
              Périodes<span class="chevron pull-right text-danger"></span>
            </div>
            <ul>
                  <li>
                    <div class="checkbox">
                      <label><input type="checkbox" value="all" /> Toute</label>
                      <span class="text-clear pull-right">587</span>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <label><input type="checkbox" value="before_1900" /> Avant 1900</label>
                      <span class="text-clear pull-right">94</span>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <label><input type="checkbox" value="1900-1914" /> 1900 - 1914</label>
                      <span class="text-clear pull-right">41</span>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <label><input type="checkbox" value="1914-1918" /> 1914 - 1918</label>
                      <span class="text-clear pull-right">89</span>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <label><input type="checkbox" value="1918-1939" /> 1918 - 1939</label>
                      <span class="text-clear pull-right">40</span>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <label><input type="checkbox" value="1939-1945" /> 1939 - 1945</label>
                      <span class="text-clear pull-right">64</span>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <label><input type="checkbox" value="1945-1960" /> 1945 - 1960</label>
                      <span class="text-clear pull-right">89</span>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <label><input type="checkbox" value="1960-1980" /> 1960 - 1980</label>
                      <span class="text-clear pull-right">87</span>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <label><input type="checkbox" value="1980-2000" /> 1980 - 2000</label>
                      <span class="text-clear pull-right">83</span>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <label><input type="checkbox" value="2000-2016" /> 2000 - 2016</label>
                      <span class="text-clear pull-right">42</span>
                    </div>
                  </li>
              <li>
                <button class="facet-add">
                  <span>+</span>
                  Ajouter
                </button>
                <form class="facet-form hidden">
                  <input type="text" class="form-control input-sm">
                </form>
              </li>
            </ul>
          </div>    <div class="facet-group open">
            <div class="facet-title">
              Types<span class="chevron pull-right text-danger"></span>
            </div>
            <ul>
                  <li>
                    <div class="checkbox">
                      <label><input type="checkbox" value="all" /> Toutes</label>
                      <span class="text-clear pull-right">1109</span>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <label><input type="checkbox" value="picture" /> Photographies</label>
                      <span class="text-clear pull-right">456</span>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <label><input type="checkbox" value="sound" /> Bande sonore</label>
                      <span class="text-clear pull-right">145</span>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <label><input type="checkbox" value="video" /> Vidéos</label>
                      <span class="text-clear pull-right">98</span>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <label><input type="checkbox" value="articles" /> Articles</label>
                      <span class="text-clear pull-right">410</span>
                    </div>
                  </li>
              <li>
                <button class="facet-add">
                  <span>+</span>
                  Ajouter
                </button>
                <form class="facet-form hidden">
                  <input type="text" class="form-control input-sm">
                </form>
              </li>
            </ul>
          </div>    <div class="facet-group open">
            <div class="facet-title">
              Catégories<span class="chevron pull-right text-danger"></span>
            </div>
            <ul>
                  <li>
                    <div class="checkbox">
                      <label><input type="checkbox" value="dui," /> lectus pede,</label>
                      <span class="text-clear pull-right">24</span>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <label><input type="checkbox" value="sit amet, consectetuer" /> ac turpis egestas.</label>
                      <span class="text-clear pull-right">480</span>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <label><input type="checkbox" value="montes, nascetur ridiculus" /> Morbi quis</label>
                      <span class="text-clear pull-right">221</span>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <label><input type="checkbox" value="blandit" /> a mi</label>
                      <span class="text-clear pull-right">347</span>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <label><input type="checkbox" value="vitae aliquam eros" /> metus sit</label>
                      <span class="text-clear pull-right">358</span>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <label><input type="checkbox" value="malesuada" /> tempus</label>
                      <span class="text-clear pull-right">115</span>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <label><input type="checkbox" value="aliquet. Phasellus" /> vitae semper egestas,</label>
                      <span class="text-clear pull-right">285</span>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <label><input type="checkbox" value="nec tellus." /> sed</label>
                      <span class="text-clear pull-right">493</span>
                    </div>
                  </li>
              <li>
                <button class="facet-add">
                  <span>+</span>
                  Ajouter
                </button>
                <form class="facet-form hidden">
                  <input type="text" class="form-control input-sm">
                </form>
              </li>
            </ul>
          </div>  <a href="creation-collection-recherche.html" class="btn btn-primary btn-sm">Enregistrer la recherche</a>
        <p><small class="text-clear text-sans"><em>Il vous est possible d'enregistrer cette recherche et d'en faire une collection.</em></small></p>
      </div>    </div>
    <div class="col-sm-9">
      <div id="media-container" class="media-grid">
            <div class="media-item" data-w="3072" data-h="2304">
                <a href="detail.html">
                  <div class="thumbnail" style="background-image: url('http://notrehistoire.ch.s3-eu-west-1.amazonaws.com/photos/2015/07/626529120c3befc7_JPG_200x200_upscale_q85.jpg');">
                    <img src="http://notrehistoire.ch.s3-eu-west-1.amazonaws.com/photos/2015/07/626529120c3befc7_JPG_200x200_upscale_q85.jpg" alt="Villarimboud." class="img-responsive" />
                  </div>    </a>
              <div class="media-caption">
                <h5>
                  <a href="detail.html">Villarimboud.</a>
                </h5>
                <p class="media-description">
            <br>
                </p>
                <div class="text-clear">
                  18&thinsp;<small><i class="glyphicon glyphicon-eye-open"></i></small> | 0&thinsp;<small><i class="glyphicon glyphicon-heart"></i></small> | 0&thinsp;<small><i class="glyphicon glyphicon-comment"></i></small>
                </div>
                <span class="media-icon glyphicon glyphicon-picture"></span>
              </div>
            </div>      <div class="media-item" data-w="2272" data-h="1704">
                <a href="detail.html">
                  <div class="thumbnail" style="background-image: url('http://notrehistoire.ch.s3-eu-west-1.amazonaws.com/photos/2012/09/58b1031254c69074_JPG_200x200_upscale_q85.jpg');">
                    <img src="http://notrehistoire.ch.s3-eu-west-1.amazonaws.com/photos/2012/09/58b1031254c69074_JPG_200x200_upscale_q85.jpg" alt="Villette " class="img-responsive" />
                  </div>    </a>
              <div class="media-caption">
                <h5>
                  <a href="detail.html">Villette </a>
                </h5>
                <p class="media-description">
                    <a href="#">vendanges</a>,
                          <a href="#">raisin</a>,
                          <a href="#">lavaux</a>,
                          <a href="#">villette</a>,
                  <br>
                </p>
                <div class="text-clear">
                  37&thinsp;<small><i class="glyphicon glyphicon-eye-open"></i></small> | 0&thinsp;<small><i class="glyphicon glyphicon-heart"></i></small> | 0&thinsp;<small><i class="glyphicon glyphicon-comment"></i></small>
                </div>
                <span class="media-icon glyphicon glyphicon-picture"></span>
              </div>
            </div>      <div class="media-item" data-w="1704" data-h="2272">
                <a href="detail.html">
                  <div class="thumbnail" style="background-image: url('http://notrehistoire.ch.s3-eu-west-1.amazonaws.com/photos/2012/09/7f5c6e4c8893ce93_JPG_200x200_upscale_q85.jpg');">
                    <img src="http://notrehistoire.ch.s3-eu-west-1.amazonaws.com/photos/2012/09/7f5c6e4c8893ce93_JPG_200x200_upscale_q85.jpg" alt="Villette " class="img-responsive" />
                  </div>    </a>
              <div class="media-caption">
                <h5>
                  <a href="detail.html">Villette </a>
                </h5>
                <p class="media-description">
                    <a href="#">vendanges</a>,
                          <a href="#">raisin</a>,
                          <a href="#">lavaux</a>,
                          <a href="#">villette</a>,
                  <br>
                </p>
                <div class="text-clear">
                  43&thinsp;<small><i class="glyphicon glyphicon-eye-open"></i></small> | 0&thinsp;<small><i class="glyphicon glyphicon-heart"></i></small> | 0&thinsp;<small><i class="glyphicon glyphicon-comment"></i></small>
                </div>
                <span class="media-icon glyphicon glyphicon-picture"></span>
              </div>
            </div>      <div class="media-item" data-w="845" data-h="634">
                <a href="detail.html">
                  <div class="thumbnail" style="background-image: url('http://notrehistoire.ch.s3-eu-west-1.amazonaws.com/photos/2010/01/6d4b2b0611cf531f_jpg_200x200_upscale_q85.jpg');">
                    <img src="http://notrehistoire.ch.s3-eu-west-1.amazonaws.com/photos/2010/01/6d4b2b0611cf531f_jpg_200x200_upscale_q85.jpg" alt="Villette" class="img-responsive" />
                  </div>    </a>
              <div class="media-caption">
                <h5>
                  <a href="detail.html">Villette</a>
                </h5>
                <p class="media-description">
            <br>
                </p>
                <div class="text-clear">
                  41&thinsp;<small><i class="glyphicon glyphicon-eye-open"></i></small> | 0&thinsp;<small><i class="glyphicon glyphicon-heart"></i></small> | 1&thinsp;<small><i class="glyphicon glyphicon-comment"></i></small>
                </div>
                <span class="media-icon glyphicon glyphicon-picture"></span>
              </div>
            </div>      <div class="group-teaser" data-w="399" data-h="258">
              <a href="detail.html">
                <div class="thumbnail" style="background-image: url('http://notrehistoire.ch.s3-eu-west-1.amazonaws.com/photos/2010/08/7bc6ace257cc85c8_jpg_200x200_upscale_q85.jpg');">
                  <img src="http://notrehistoire.ch.s3-eu-west-1.amazonaws.com/photos/2010/08/7bc6ace257cc85c8_jpg_200x200_upscale_q85.jpg" alt="Barques du Léman" class="img-responsive" />
                </div>  </a>
              <div class="group-caption">
                <a href="detail.html">Barques du Léman</a>
                <div class="group-counter">
                  183&nbsp;<small><i class="glyphicon glyphicon-file"></i></small>
                </div>
              </div>
              <div class="group-metadata">
                <a href="#">Vie quotidienne</a> <span class="text-clear">&rsaquo;</span> <a href="#">Loisirs</a> <span class="text-clear">&bull; Crée par</span> <a href="#">Sylvie Bazzanella</a>
              </div>
            </div>      <div class="media-item" data-w="480" data-h="325">
                <a href="detail.html">
                  <div class="thumbnail" style="background-image: url('http://notrehistoire.ch.s3-eu-west-1.amazonaws.com/photos/2010/12/d1c4ef0fdb3ba38a_jpg_200x200_upscale_q85.jpg');">
                    <img src="http://notrehistoire.ch.s3-eu-west-1.amazonaws.com/photos/2010/12/d1c4ef0fdb3ba38a_jpg_200x200_upscale_q85.jpg" alt="Villeneuve" class="img-responsive" />
                  </div>    </a>
              <div class="media-caption">
                <h5>
                  <a href="detail.html">Villeneuve</a>
                </h5>
                <p class="media-description">
            <br>
                </p>
                <div class="text-clear">
                  78&thinsp;<small><i class="glyphicon glyphicon-eye-open"></i></small> | 0&thinsp;<small><i class="glyphicon glyphicon-heart"></i></small> | 0&thinsp;<small><i class="glyphicon glyphicon-comment"></i></small>
                </div>
                <span class="media-icon glyphicon glyphicon-picture"></span>
              </div>
            </div>      <div class="media-item" data-w="2362" data-h="1682">
                <a href="detail.html">
                  <div class="thumbnail" style="background-image: url('http://notrehistoire.ch.s3-eu-west-1.amazonaws.com/photos/2010/12/1e51cd2ffb0760df_jpg_200x200_upscale_q85.jpg');">
                    <img src="http://notrehistoire.ch.s3-eu-west-1.amazonaws.com/photos/2010/12/1e51cd2ffb0760df_jpg_200x200_upscale_q85.jpg" alt="Villeneuve" class="img-responsive" />
                  </div>    </a>
              <div class="media-caption">
                <h5>
                  <a href="detail.html">Villeneuve</a>
                </h5>
                <p class="media-description">
            <br>
                </p>
                <div class="text-clear">
                  144&thinsp;<small><i class="glyphicon glyphicon-eye-open"></i></small> | 1&thinsp;<small><i class="glyphicon glyphicon-heart"></i></small> | 0&thinsp;<small><i class="glyphicon glyphicon-comment"></i></small>
                </div>
                <span class="media-icon glyphicon glyphicon-picture"></span>
              </div>
            </div>      <div class="media-item" data-w="2362" data-h="1569">
                <div class="media-article">
                  Anniversaire Mimelou Villeneuve (mars 1961) avec Carole Bula mon amie d'enfance<br>
                </div>
              <div class="media-caption">
                <h5>
                  <a href="detail.html">Villeneuve</a>
                </h5>
                <p class="media-description">
            <br>
                </p>
                <div class="text-clear">
                  62&thinsp;<small><i class="glyphicon glyphicon-eye-open"></i></small> | 0&thinsp;<small><i class="glyphicon glyphicon-heart"></i></small> | 0&thinsp;<small><i class="glyphicon glyphicon-comment"></i></small>
                </div>
                <span class="media-icon glyphicon glyphicon-list-alt"></span>
              </div>
            </div>      <div class="media-item" data-w="5184" data-h="3456">
                <a href="detail.html">
                  <div class="thumbnail" style="background-image: url('http://notrehistoire.ch.s3-eu-west-1.amazonaws.com/photos/2013/08/89687fee5d7be359_JPG_200x200_upscale_q85.jpg');">
                    <img src="http://notrehistoire.ch.s3-eu-west-1.amazonaws.com/photos/2013/08/89687fee5d7be359_JPG_200x200_upscale_q85.jpg" alt="Villa" class="img-responsive" />
                  </div>    </a>
              <div class="media-caption">
                <h5>
                  <a href="detail.html">Villa</a>
                </h5>
                <p class="media-description">
                    <a href="#">les images égarées</a>,
                  <br>
                </p>
                <div class="text-clear">
                  40&thinsp;<small><i class="glyphicon glyphicon-eye-open"></i></small> | 0&thinsp;<small><i class="glyphicon glyphicon-heart"></i></small> | 0&thinsp;<small><i class="glyphicon glyphicon-comment"></i></small>
                </div>
                <span class="media-icon glyphicon glyphicon-picture"></span>
              </div>
            </div>      <div class="media-item" data-w="650" data-h="972">
                <a href="detail.html">
                  <div class="thumbnail" style="background-image: url('http://notrehistoire.ch.s3-eu-west-1.amazonaws.com/photos/2010/04/93db5acccbf3478f_jpg_200x200_upscale_q85.jpg');">
                    <img src="http://notrehistoire.ch.s3-eu-west-1.amazonaws.com/photos/2010/04/93db5acccbf3478f_jpg_200x200_upscale_q85.jpg" alt="Villeneuve" class="img-responsive" />
                  </div>    </a>
              <div class="media-caption">
                <h5>
                  <a href="detail.html">Villeneuve</a>
                </h5>
                <p class="media-description">
                    <a href="#">villeneuve</a>,
                          <a href="#">baud</a>,
                          <a href="#">léaman</a>,
                          <a href="#">église</a>,
                  <br>
                </p>
                <div class="text-clear">
                  101&thinsp;<small><i class="glyphicon glyphicon-eye-open"></i></small> | 0&thinsp;<small><i class="glyphicon glyphicon-heart"></i></small> | 0&thinsp;<small><i class="glyphicon glyphicon-comment"></i></small>
                </div>
                <span class="media-icon glyphicon glyphicon-headphones"></span>
              </div>
            </div>      <div class="media-item" data-w="518" data-h="352">
                <a href="detail.html">
                  <div class="thumbnail" style="background-image: url('http://notrehistoire.ch.s3-eu-west-1.amazonaws.com/photos/2010/01/f8c683e16b3f1a13_tif_200x200_upscale_q85.jpg');">
                    <img src="http://notrehistoire.ch.s3-eu-west-1.amazonaws.com/photos/2010/01/f8c683e16b3f1a13_tif_200x200_upscale_q85.jpg" alt="Ville" class="img-responsive" />
                  </div>    </a>
              <div class="media-caption">
                <h5>
                  <a href="detail.html">Ville</a>
                </h5>
                <p class="media-description">
            <br>
                </p>
                <div class="text-clear">
                  27&thinsp;<small><i class="glyphicon glyphicon-eye-open"></i></small> | 0&thinsp;<small><i class="glyphicon glyphicon-heart"></i></small> | 1&thinsp;<small><i class="glyphicon glyphicon-comment"></i></small>
                </div>
                <span class="media-icon glyphicon glyphicon-film"></span>
              </div>
            </div>      <div class="media-item" data-w="3056" data-h="1750">
                <a href="detail.html">
                  <div class="thumbnail" style="background-image: url('http://notrehistoire.ch.s3-eu-west-1.amazonaws.com/photos/2010/01/15a6919c49254f19_jpg_200x200_upscale_q85.jpg');">
                    <img src="http://notrehistoire.ch.s3-eu-west-1.amazonaws.com/photos/2010/01/15a6919c49254f19_jpg_200x200_upscale_q85.jpg" alt="Villette" class="img-responsive" />
                  </div>    </a>
              <div class="media-caption">
                <h5>
                  <a href="detail.html">Villette</a>
                </h5>
                <p class="media-description">
            <br>
                </p>
                <div class="text-clear">
                  45&thinsp;<small><i class="glyphicon glyphicon-eye-open"></i></small> | 0&thinsp;<small><i class="glyphicon glyphicon-heart"></i></small> | 1&thinsp;<small><i class="glyphicon glyphicon-comment"></i></small>
                </div>
                <span class="media-icon glyphicon glyphicon-picture"></span>
              </div>
            </div>      <div class="media-item" data-w="1600" data-h="1067">
                <a href="detail.html">
                  <div class="thumbnail" style="background-image: url('http://notrehistoire.ch.s3-eu-west-1.amazonaws.com/photos/2010/10/ff200d8ba3e9427a_JPG_200x200_upscale_q85.jpg');">
                    <img src="http://notrehistoire.ch.s3-eu-west-1.amazonaws.com/photos/2010/10/ff200d8ba3e9427a_JPG_200x200_upscale_q85.jpg" alt="Villa" class="img-responsive" />
                  </div>    </a>
              <div class="media-caption">
                <h5>
                  <a href="detail.html">Villa</a>
                </h5>
                <p class="media-description">
            <br>
                </p>
                <div class="text-clear">
                  36&thinsp;<small><i class="glyphicon glyphicon-eye-open"></i></small> | 0&thinsp;<small><i class="glyphicon glyphicon-heart"></i></small> | 0&thinsp;<small><i class="glyphicon glyphicon-comment"></i></small>
                </div>
                <span class="media-icon glyphicon glyphicon-picture"></span>
              </div>
            </div>      <div class="media-item" data-w="1066" data-h="1600">
                <a href="detail.html">
                  <div class="thumbnail" style="background-image: url('http://notrehistoire.ch.s3-eu-west-1.amazonaws.com/photos/2010/10/4e658d8b2ae3a870_JPG_200x200_upscale_q85.jpg');">
                    <img src="http://notrehistoire.ch.s3-eu-west-1.amazonaws.com/photos/2010/10/4e658d8b2ae3a870_JPG_200x200_upscale_q85.jpg" alt="Villa" class="img-responsive" />
                  </div>    </a>
              <div class="media-caption">
                <h5>
                  <a href="detail.html">Villa</a>
                </h5>
                <p class="media-description">
            <br>
                </p>
                <div class="text-clear">
                  43&thinsp;<small><i class="glyphicon glyphicon-eye-open"></i></small> | 0&thinsp;<small><i class="glyphicon glyphicon-heart"></i></small> | 0&thinsp;<small><i class="glyphicon glyphicon-comment"></i></small>
                </div>
                <span class="media-icon glyphicon glyphicon-picture"></span>
              </div>
            </div>      <div class="media-item" data-w="1066" data-h="1600">
                <a href="detail.html">
                  <div class="thumbnail" style="background-image: url('http://notrehistoire.ch.s3-eu-west-1.amazonaws.com/photos/2010/10/a4381e499c9e37ed_JPG_200x200_upscale_q85.jpg');">
                    <img src="http://notrehistoire.ch.s3-eu-west-1.amazonaws.com/photos/2010/10/a4381e499c9e37ed_JPG_200x200_upscale_q85.jpg" alt="Villa" class="img-responsive" />
                  </div>    </a>
              <div class="media-caption">
                <h5>
                  <a href="detail.html">Villa</a>
                </h5>
                <p class="media-description">
            <br>
                </p>
                <div class="text-clear">
                  16&thinsp;<small><i class="glyphicon glyphicon-eye-open"></i></small> | 0&thinsp;<small><i class="glyphicon glyphicon-heart"></i></small> | 0&thinsp;<small><i class="glyphicon glyphicon-comment"></i></small>
                </div>
                <span class="media-icon glyphicon glyphicon-picture"></span>
              </div>
            </div>      <div class="media-item" data-w="414" data-h="604">
                <a href="detail.html">
                  <div class="thumbnail" style="background-image: url('http://notrehistoire.ch.s3-eu-west-1.amazonaws.com/photos/2010/12/a8f2dde632675211_jpg_200x200_upscale_q85.jpg');">
                    <img src="http://notrehistoire.ch.s3-eu-west-1.amazonaws.com/photos/2010/12/a8f2dde632675211_jpg_200x200_upscale_q85.jpg" alt="Villeneuve" class="img-responsive" />
                  </div>    </a>
              <div class="media-caption">
                <h5>
                  <a href="detail.html">Villeneuve</a>
                </h5>
                <p class="media-description">
            <br>
                </p>
                <div class="text-clear">
                  51&thinsp;<small><i class="glyphicon glyphicon-eye-open"></i></small> | 0&thinsp;<small><i class="glyphicon glyphicon-heart"></i></small> | 0&thinsp;<small><i class="glyphicon glyphicon-comment"></i></small>
                </div>
                <span class="media-icon glyphicon glyphicon-picture"></span>
              </div>
            </div>      <div class="media-item" data-w="604" data-h="414">
                <a href="detail.html">
                  <div class="thumbnail" style="background-image: url('http://notrehistoire.ch.s3-eu-west-1.amazonaws.com/photos/2010/12/e5858993f2f71ddc_jpg_200x200_upscale_q85.jpg');">
                    <img src="http://notrehistoire.ch.s3-eu-west-1.amazonaws.com/photos/2010/12/e5858993f2f71ddc_jpg_200x200_upscale_q85.jpg" alt="Villeneuve" class="img-responsive" />
                  </div>    </a>
              <div class="media-caption">
                <h5>
                  <a href="detail.html">Villeneuve</a>
                </h5>
                <p class="media-description">
            <br>
                </p>
                <div class="text-clear">
                  37&thinsp;<small><i class="glyphicon glyphicon-eye-open"></i></small> | 0&thinsp;<small><i class="glyphicon glyphicon-heart"></i></small> | 0&thinsp;<small><i class="glyphicon glyphicon-comment"></i></small>
                </div>
                <span class="media-icon glyphicon glyphicon-picture"></span>
              </div>
            </div>      <div class="media-item" data-w="2362" data-h="1602">
                <a href="detail.html">
                  <div class="thumbnail" style="background-image: url('http://notrehistoire.ch.s3-eu-west-1.amazonaws.com/photos/2010/12/43d520681a58bcba_jpg_200x200_upscale_q85.jpg');">
                    <img src="http://notrehistoire.ch.s3-eu-west-1.amazonaws.com/photos/2010/12/43d520681a58bcba_jpg_200x200_upscale_q85.jpg" alt="Villeneuve" class="img-responsive" />
                  </div>    </a>
              <div class="media-caption">
                <h5>
                  <a href="detail.html">Villeneuve</a>
                </h5>
                <p class="media-description">
            <br>
                </p>
                <div class="text-clear">
                  24&thinsp;<small><i class="glyphicon glyphicon-eye-open"></i></small> | 0&thinsp;<small><i class="glyphicon glyphicon-heart"></i></small> | 0&thinsp;<small><i class="glyphicon glyphicon-comment"></i></small>
                </div>
                <span class="media-icon glyphicon glyphicon-picture"></span>
              </div>
            </div>      <div class="media-item" data-w="2362" data-h="1510">
                <a href="detail.html">
                  <div class="thumbnail" style="background-image: url('http://notrehistoire.ch.s3-eu-west-1.amazonaws.com/photos/2010/12/ab7432a6512c6096_jpg_200x200_upscale_q85.jpg');">
                    <img src="http://notrehistoire.ch.s3-eu-west-1.amazonaws.com/photos/2010/12/ab7432a6512c6096_jpg_200x200_upscale_q85.jpg" alt="Villeneuve" class="img-responsive" />
                  </div>    </a>
              <div class="media-caption">
                <h5>
                  <a href="detail.html">Villeneuve</a>
                </h5>
                <p class="media-description">
            <br>
                </p>
                <div class="text-clear">
                  23&thinsp;<small><i class="glyphicon glyphicon-eye-open"></i></small> | 0&thinsp;<small><i class="glyphicon glyphicon-heart"></i></small> | 0&thinsp;<small><i class="glyphicon glyphicon-comment"></i></small>
                </div>
                <span class="media-icon glyphicon glyphicon-picture"></span>
              </div>
            </div>      <div class="media-item" data-w="1772" data-h="1633">
                <a href="detail.html">
                  <div class="thumbnail" style="background-image: url('http://notrehistoire.ch.s3-eu-west-1.amazonaws.com/photos/2010/12/3c7082b569bd4dff_jpg_200x200_upscale_q85.jpg');">
                    <img src="http://notrehistoire.ch.s3-eu-west-1.amazonaws.com/photos/2010/12/3c7082b569bd4dff_jpg_200x200_upscale_q85.jpg" alt="Villeneuve" class="img-responsive" />
                  </div>    </a>
              <div class="media-caption">
                <h5>
                  <a href="detail.html">Villeneuve</a>
                </h5>
                <p class="media-description">
            <br>
                </p>
                <div class="text-clear">
                  156&thinsp;<small><i class="glyphicon glyphicon-eye-open"></i></small> | 0&thinsp;<small><i class="glyphicon glyphicon-heart"></i></small> | 0&thinsp;<small><i class="glyphicon glyphicon-comment"></i></small>
                </div>
                <span class="media-icon glyphicon glyphicon-picture"></span>
              </div>
            </div></div>      <div class="clearfix"></div>
      <a href="#" class="btn btn-default btn-lg btn-block">Voir plus...</a>    </div>
  </div>
</div>

<!-- Demo purpose -->
<div class="spacer spacer-xl"></div>


    <script src="./../build/js/vendors.min.js"></script>
    <script src="./../build/js/main.js"></script>
  </body>
</html>
