<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="./../build/css/vendors.min.css">
    <link rel="stylesheet" href="./../build/css/main.css">

    <!--[if lt IE 9]>
      <script src="./../build/js/polyfills.min.js"></script>
    <![endif]-->
  </head>
  <body>


    <nav class="navbar navbar-default">
      <form id="search-form" class="navbar-form navbar-left" role="search">
        
        <input type="text" class="form-control" placeholder="Rechercher" />
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
      </form>
      <a class="navbar-brand" href="demo.html">
        <img class="img-responsive" src="./../build/svg/nh-brand.svg" onerror="this.onerror=null; this.src='./../build/img/nh-brand.png'" />
      </a>
    
      <a href="upload.html" class="btn btn-default navbar-btn navbar-right">
        <span class="hidden-xs">Ajouter un média</span>
        <span class="visible-xs glyphicon glyphicon-plus"></span>
      </a>
    
      <button id="search-mobile" type="button" class="btn btn-default navbar-btn navbar-right visible-xs">
        <span class="visible-xs glyphicon glyphicon-search"></span>
      </button>
    </nav>
<div class="panel panel-left panel-animate panel-leave panel-leaving">
  <button type="button" class="navbar-toggle panel-button">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar panel-closed-component"></span>
    <span class="icon-bar panel-closed-component"></span>
    <span class="icon-bar panel-closed-component"></span>
    <span class="cross">&times;</span>
  </button>
  <div class="panel-content">
    <ul class="nav nav-stacked">
      <li role="presentation" class="active"><a href="#">
        Aide
        <span class="pull-right"><span class="chevron chevron-right chevron-thin"></span></span>
      </a></li>
      <li role="presentation"><a href="#">
        Forum
        <span class="pull-right"><span class="chevron chevron-right chevron-thin"></span></span>
      </a></li>
      <li role="presentation"><a href="#">
        Blog
        <span class="pull-right"><span class="chevron chevron-right chevron-thin"></span></span>
      </a></li>
      <li role="presentation"><a href="#">
        Contact
        <span class="pull-right"><span class="chevron chevron-right chevron-thin"></span></span>
      </a></li>
      <li role="presentation"><a href="#">
        Partenaires
        <span class="pull-right"><span class="chevron chevron-right chevron-thin"></span></span>
      </a></li>
    </ul>
    <div class="container-fluid">
      <hr />      <h3>
        <div class="text-clear">Le mouvement</div>
        <b>NotreHistoire</b>
      </h3>
      <p class="text-clear text-sans">
        Oremière plateforme participative Suisse romande. Elle a pour but de créer une fresque de médias sur l'histoire de notre région.<br>
        <a href="#">En savoir plus</a>
      </p>
      <hr />    </div>
    <ul class="nav nav-stacked">
      <li role="presentation" class="active"><a href="#">
        Activités récentes
        <span class="pull-right"><span class="chevron chevron-right chevron-thin"></span></span>
      </a></li>
      <li role="presentation"><a href="#">
        Fonds documentaires
        <span class="pull-right"><span class="chevron chevron-right chevron-thin"></span></span>
      </a></li>
    </ul>
  </div>
  <div class="panel-bottom">
    <div class="container-fluid">
      <p class="text-clear text-sans">
        <small><a class="text-clear" href="#">Condition générales</a> - <a class="text-clear" href="#">Impressum</a></small>
      </p>
    </div>
  </div>
</div><div class="panel panel-right panel-animate panel-leave panel-leaving">
  <button type="button" class="btn btn-default panel-button">
    <span class="hidden-xs panel-closed-component">Connexion</span>
    <span class="visible-xs">
      <span class="glyphicon glyphicon-user panel-closed-component"></span>
    </span>
    <span class="cross">&times;</span>
  </button>
  <div class="panel-content">
    <div class="container-fluid">
      <div class="spacer spacer-xs"></div>
      <img src="http://notrehistoire.ch.s3-eu-west-1.amazonaws.com/users/avatar/2015/08/876988c033485ccc_jpg_168x168_crop_q85.jpg" class="img-responsive img-circle pull-left">
      <h4>Martine Desarzens</h4>
      <div class="spacer spacer-sm"></div>
    </div>
    <ul class="nav nav-stacked">
      <li role="presentation" class="active"><a href="#">
        Afficher mon profil
        <span class="pull-right"><span class="chevron chevron-right chevron-thin"></span></span>
      </a></li>
      <li role="presentation"><a href="#">
        Mes médias
        <span class="pull-right"><span class="chevron chevron-right chevron-thin"></span></span>
      </a></li>
      <li role="presentation"><a href="#">
        Mes activités
        <span class="pull-right"><span class="chevron chevron-right chevron-thin"></span></span>
      </a></li>
      <li role="presentation"><a href="#">
        Mes préférences
        <span class="pull-right"><span class="chevron chevron-right chevron-thin"></span></span>
      </a></li>
    </ul>
    <div class="container-fluid">
      <hr />      <p>
        <a href="creation-collection.html" class="btn btn-default btn-sm btn-block" role="button">Créer une collection</a>
      </p>
      <hr />      <a href="#" class="text-sans text-clear">Me déconnecter</a>
    </div>
  </div>
</div><div id="overlay" class="overlay">
</div>
<div class="container">
  <h1>Votre collection est vide, ajouter votre premier média</h1>
  <h3>Téléverser un fichier (photo, vidéo, son) ou <a href="metadata.html">rédiger un article</a></h3>
  <div class="spacer spacer-sm"></div>
  <form class="uploader" action="add-media.html" method="get" enctype="multipart/form-data">
	  <input type="file" name="files[]" id="filer_input" multiple="multiple" />
	  <input type="submit" class="btn btn-primary pull-right" value="Suivant" />
	</form>
  <hr />  <div class="text-center">
  	<h3>Ou ajouter depuis</h3>
		<div class="form-group">
	  <a href="profile-person.html" class="btn btn-primary" role="button">Mon profil (56 médias)</a> <a href="demo.html" class="btn btn-primary" role="button">Notre Histoire (457'698 médias)</a>
		  </div>
  </div>
  <div class="spacer spacer-md"></div>
</div>


    <script src="./../build/js/vendors.min.js"></script>
    <script src="./../build/js/main.js"></script>
  </body>
</html>
