<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="./../build/css/vendors.min.css">
    <link rel="stylesheet" href="./../build/css/main.css">

    <!--[if lt IE 9]>
      <script src="./../build/js/polyfills.min.js"></script>
    <![endif]-->
  </head>
  <body>


    <nav class="navbar navbar-default">
      <form id="search-form" class="navbar-form navbar-left" role="search">
        
        <input type="text" class="form-control" placeholder="Rechercher" />
        <span class="icons icons-search" aria-hidden="true"></span>
      </form>
      <a class="navbar-brand" href="demo.html">
        <img class="img-responsive" src="./../build/svg/nh-brand.svg" onerror="this.onerror=null; this.src='./../build/img/nh-brand.png'" />
      </a>
    
      <a href="upload.html" class="btn btn-default navbar-btn navbar-right">
        <span class="hidden-xs">Ajouter un média</span>
        <span class="visible-xs icons icons-plus"></span>
      </a>
    
      <button id="search-mobile" type="button" class="btn btn-default navbar-btn navbar-right visible-xs">
        <span class="visible-xs icons icons-search"></span>
      </button>
    </nav>
<div class="panel panel-left panel-animate panel-leave panel-leaving">
  <button type="button" class="navbar-toggle panel-button">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar panel-closed-component"></span>
    <span class="icon-bar panel-closed-component"></span>
    <span class="icon-bar panel-closed-component"></span>
    <span class="cross">&times;</span>
  </button>
  <div class="panel-content">
    <ul class="nav nav-stacked">
      <li role="presentation" class="active"><a href="#">
        Aide
        <span class="pull-right"><span class="chevron chevron-right chevron-thin"></span></span>
      </a></li>
      <li role="presentation"><a href="./forum.html">
        Forum
        <span class="pull-right"><span class="chevron chevron-right chevron-thin"></span></span>
      </a></li>
      <li role="presentation"><a href="#">
        Blog
        <span class="pull-right"><span class="chevron chevron-right chevron-thin"></span></span>
      </a></li>
      <li role="presentation"><a href="#">
        Contact
        <span class="pull-right"><span class="chevron chevron-right chevron-thin"></span></span>
      </a></li>
      <li role="presentation"><a href="#">
        Partenaires
        <span class="pull-right"><span class="chevron chevron-right chevron-thin"></span></span>
      </a></li>
    </ul>
    <div class="container-fluid">
      <hr />      <h3>
        <div class="text-clear">Le mouvement</div>
        <b>NotreHistoire</b>
      </h3>
      <p class="text-clear text-sans">
        Oremière plateforme participative Suisse romande. Elle a pour but de créer une fresque de médias sur l'histoire de notre région.<br>
        <a href="#">En savoir plus</a>
      </p>
      <hr />    </div>
    <ul class="nav nav-stacked">
      <li role="presentation" class="active"><a href="#">
        Activités récentes
        <span class="pull-right"><span class="chevron chevron-right chevron-thin"></span></span>
      </a></li>
      <li role="presentation"><a href="#">
        Fonds documentaires
        <span class="pull-right"><span class="chevron chevron-right chevron-thin"></span></span>
      </a></li>
    </ul>
  </div>
  <div class="panel-bottom">
    <div class="container-fluid">
      <p class="text-clear text-sans">
        <small><a class="text-clear" href="#">Condition générales</a> - <a class="text-clear" href="#">Impressum</a></small>
      </p>
    </div>
  </div>
</div><div class="panel panel-right panel-animate panel-leave panel-leaving">
  <button type="button" class="btn btn-default panel-button">
    <span class="hidden-xs panel-closed-component">Connexion</span>
    <span class="visible-xs">
      <span class="icons icons-user panel-closed-component"></span>
    </span>
    <span class="cross">&times;</span>
  </button>
  <div class="panel-content">
    <div class="container-fluid">
      <div class="spacer spacer-xs"></div>
      <img src="http://notrehistoire.ch.s3-eu-west-1.amazonaws.com/users/avatar/2015/08/876988c033485ccc_jpg_168x168_crop_q85.jpg" class="img-responsive img-circle pull-left">
      <h4>Martine Desarzens</h4>
      <div class="spacer spacer-sm"></div>
    </div>
    <ul class="nav nav-stacked">
      <li role="presentation" class="active"><a href="#">
        Afficher mon profil
        <span class="pull-right"><span class="chevron chevron-right chevron-thin"></span></span>
      </a></li>
      <li role="presentation"><a href="./inbox.html">
        Mes messages
        <span class="pull-right"><span class="chevron chevron-right chevron-thin"></span></span>
      </a></li>
      <li role="presentation"><a href="./profile-person.html">
        Mes médias
        <span class="pull-right"><span class="chevron chevron-right chevron-thin"></span></span>
      </a></li>
      <li role="presentation"><a href="./activites.html">
        Mes activités
        <span class="pull-right"><span class="chevron chevron-right chevron-thin"></span></span>
      </a></li>
      <li role="presentation"><a href="#">
        Mes préférences
        <span class="pull-right"><span class="chevron chevron-right chevron-thin"></span></span>
      </a></li>
    </ul>
    <div class="container-fluid">
      <hr />      <p>
        <a href="creation-collection.html" class="btn btn-default btn-sm btn-block" role="button">Créer un dossier</a>
      </p>
      <hr />      <a href="#" class="text-sans text-clear">Me déconnecter</a>
    </div>
  </div>
</div><div id="overlay" class="overlay">
</div>
<div class="spacer spacer-xs"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h1 class="text-center">Messagerie</h1>
      <div class="spacer spacer-xs"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <div>
        <div class="bg-concrete list-group-head">
          <div class="row">
            <div class="col-xs-1">
              <div class="list-item-flex-center">
                <input type="checkbox" name="name" value="">
              </div>
            </div>
            <div class="col-xs-11">
              <div class="list-item-flex-center list-item-flex-right">
                <a href="./inbox-new.html" class="btn btn-primary pull-right btn-xs">Rédiger un nouveau message</a>
              </div>
            </div>
          </div>
        </div>
        <div class="list-conversation">
            <a href="inbox-conversation.html" class="conversation-item">
              <div class="row">
                <div class="col-xs-1">
                  <div class="list-item-flex-center">
                    <input type="checkbox" name="name" value="">
                  </div>
                </div>
                <div class="col-xs-9">
                  <div class="media">
                    <div class="media-left">
                      <img src="http://notrehistoire.ch.s3-eu-west-1.amazonaws.com/users/avatar/2015/11/a3a15c215d3c0693_jpg_168x168_crop_q85.jpg" alt="Marc" class="media-object" />
                    </div>
                    <div class="media-body">
                      <b>Marc</b> – <small>12/08/2016</small>
                      <h5 class="media-heading">
                        Salut, comment vas-tu depuis le temps ? ...
                      </h5>
                    </div>
                  </div>
                </div>
                <div class="col-xs-2">
                  <div class="list-item-flex-right list-item-flex-center">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                  </div>
                </div>
              </div>
            </a>      <a href="inbox-conversation.html" class="conversation-item">
              <div class="row">
                <div class="col-xs-1">
                  <div class="list-item-flex-center">
                    <input type="checkbox" name="name" value="">
                  </div>
                </div>
                <div class="col-xs-9">
                  <div class="media">
                    <div class="media-left">
                      <img src="http://notrehistoire.ch.s3-eu-west-1.amazonaws.com/users/avatar/2014/08/18684df9b99b6c12_jpg_168x168_crop_q85.jpg" alt="Ian" class="media-object" />
                    </div>
                    <div class="media-body">
                      <b>Ian</b> – <small>11/08/2016</small>
                      <h5 class="media-heading">
                        Cette photo n&#x27;a rien à voir avec la Suisse ...
                      </h5>
                    </div>
                  </div>
                </div>
                <div class="col-xs-2">
                  <div class="list-item-flex-right list-item-flex-center">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                  </div>
                </div>
              </div>
            </a>      <a href="inbox-conversation.html" class="conversation-item">
              <div class="row">
                <div class="col-xs-1">
                  <div class="list-item-flex-center">
                    <input type="checkbox" name="name" value="">
                  </div>
                </div>
                <div class="col-xs-9">
                  <div class="media">
                    <div class="media-left">
                      <img src="http://notrehistoire.ch.s3-eu-west-1.amazonaws.com/users/avatar/2009/10/c030407f8dc6d950_gif_168x168_crop_q85.jpg" alt="Jean-Paul" class="media-object" />
                    </div>
                    <div class="media-body">
                      <b>Jean-Paul</b> – <small>11/08/2016</small>
                      <h5 class="media-heading">
                        Cette nouvelle plate-forme, quelle classe ! ...
                      </h5>
                    </div>
                  </div>
                </div>
                <div class="col-xs-2">
                  <div class="list-item-flex-right list-item-flex-center">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                  </div>
                </div>
              </div>
            </a>      <a href="inbox-conversation.html" class="conversation-item">
              <div class="row">
                <div class="col-xs-1">
                  <div class="list-item-flex-center">
                    <input type="checkbox" name="name" value="">
                  </div>
                </div>
                <div class="col-xs-9">
                  <div class="media">
                    <div class="media-left">
                      <img src="http://notrehistoire.ch.s3-eu-west-1.amazonaws.com/users/avatar/2011/01/ee68c10788b054e_JPG_168x168_crop_q85.jpg" alt="Pierre-Marie" class="media-object" />
                    </div>
                    <div class="media-body">
                      <b>Pierre-Marie</b> – <small>11/08/2016</small>
                      <h5 class="media-heading">
                        J&#x27;adore le logo ! ...
                      </h5>
                    </div>
                  </div>
                </div>
                <div class="col-xs-2">
                  <div class="list-item-flex-right list-item-flex-center">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                  </div>
                </div>
              </div>
            </a>  </div>
        <div class="spacer spacer-sm"></div>
        <div class="row">
          <div class="col-xs-6 col-xs-offset-3">
            <button type="button" name="button" class="btn btn-block btn-default">Voir plus ...</button>
          </div>
        </div>
      </div>    </div>
   </div>
</div>


    <script src="./../build/js/vendors.min.js"></script>
    <script src="./../build/js/main.js"></script>
  </body>
</html>
