<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="./../build/css/vendors.min.css">
    <link rel="stylesheet" href="./../build/css/main.css">

    <!--[if lt IE 9]>
      <script src="./../build/js/polyfills.min.js"></script>
    <![endif]-->
  </head>
  <body>


    <nav class="navbar navbar-default">
      <div class="navbar-header">
        <a class="navbar-brand" href="demo.html"><h1 class="h4">Notre histoire</h1></a>
      </div>
    
      <form id="search-form" class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Rechercher">
        </div>
        <button type="submit" class="btn btn-default">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </button>
      </form>
    
      <a href="upload.html" class="btn btn-default navbar-btn navbar-right">
        <span class="hidden-xs">Ajouter un média</span>
        <span class="visible-xs glyphicon glyphicon-plus"></span>
      </a>
    
      <button id="search-mobile" type="button" class="btn btn-default navbar-btn navbar-right visible-xs">
        <span class="visible-xs glyphicon glyphicon-search"></span>
      </button>
    </nav>
<div class="panel panel-left panel-animate panel-leave panel-leaving bg-mine-shaft">
  <button type="button" class="navbar-toggle panel-button">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <div class="panel-content">

  </div>
</div><div class="panel panel-right panel-animate panel-leave panel-leaving bg-mine-shaft">
  <button type="button" class="btn btn-default panel-button">
    <span class="hidden-xs">Connexion</span>
    <span class="visible-xs glyphicon glyphicon-user"></span>
  </button>
  <div class="panel-content">
    <h3 class="text-center">Connexion</h3>
    <div class="spacer spacer-xs"></div>
    <form>
      <div class="form-group">
        <label for="email" class="hidden">Adresse email</label>
        <input type="email" class="form-control" id="email" placeholder="Adresse email" value="">
        <p class="help-block">C&#x27;est le moment où vous rentrez votre adresse email</p>
      </div>  <div class="form-group">
        <label for="password" class="hidden">Votre mot de passe</label>
        <input type="password" class="form-control" id="password" placeholder="Votre mot de passe" value="">
        <p class="help-block">N&#x27;aillez crainte, je détourne le regard.</p>
      </div>  <div class="checkbox">
        <label>
          <input type="checkbox"> Resté connecté
        </label>
      </div>  <div class="spacer spacer-xs"></div>
      <button type="submit" class="btn btn-primary btn-block">Je me connecte</button>
    </form>
    <div class="spacer spacer-sm"></div>
    <div class="text-center">
      <a href="#">J'ai oublié mon mot de passe</a>
    </div>  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h1>Éditer la photo</h1>
      <div class="spacer spacer-xs"></div>
      <img src="http://notrehistoire.ch.s3-eu-west-1.amazonaws.com/photos/2013/08/89687fee5d7be359_JPG_200x200_upscale_q85.jpg" class="img-responsive">

      <div class="spacer spacer-sm"></div>

      <form action="demo.html">
        <div class="form-group">
          <label for="title" class="hidden">Titre</label>
          <input type="text" class="form-control" id="title" placeholder="Titre" value="">
          <p class="help-block">Le titre de votre photographie</p>
        </div>        <div class="form-group">
          <label for="descritpion" class="hidden">Description</label>
          <textarea class="form-control" id="descritpion" rows="3">Description</textarea>
          <p class="help-block">Une petite description de la photo</p>
        </div>
        <div class="form-group">
          <label class="h5" for="day">Date originale</label>
          <div class="row">
            <div class="col-xs-4">
              <select name="day" id="day" class="form-control">
                <option value="" selected="selected">-</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="26">26</option>
                <option value="27">27</option>
                <option value="28">28</option>
                <option value="29">29</option>
                <option value="30">30</option>
                <option value="31">31</option>
              </select>
            </div>
            <div class="col-xs-4">
              <select name="month" class="form-control">
                <option value="" selected="selected">-</option>
                <option value="1">janvier</option>
                <option value="2">février</option>
                <option value="3">mars</option>
                <option value="4">avril</option>
                <option value="5">mai</option>
                <option value="6">juin</option>
                <option value="7">juillet</option>
                <option value="8">août</option>
                <option value="9">septembre</option>
                <option value="10">octobre</option>
                <option value="11">novembre</option>
                <option value="12">décembre</option>
              </select>
            </div>
            <div class="col-xs-4">
              <div class="form-group">
                <label for="year" class="hidden">Année</label>
                <input type="text" class="form-control" id="year" placeholder="Année" value="">
                <p class="help-block"> </p>
              </div>            </div>
          </div>
          <small class="text-clear text-sans"><em>Si vous ne connaissez pas le jour ou le mois, veuillez essayer d'estimer l'année</em></small>
        </div>

        <div class="spacer spacer-xs"></div>

        <div class="form-group">
          <div class="checkbox">
            <label>
              <input type="checkbox">
              M'aider à dater la photographie
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="period" class="h5">Période</label>
          <select name="period" id="period" class="form-control">
            <option value="" selected="selected">-</option>
            <option value="1">Avant 1900</option>
            <option value="2">1900 - 1909</option>
            <option value="3">1910 - 1919</option>
            <option value="4">1920 - 1929</option>
            <option value="5">1930 - 1939</option>
            <option value="6">1940 - 1949</option>
            <option value="7">1950 - 1959</option>
            <option value="8">1960 - 1969</option>
            <option value="9">1970 - 1979</option>
            <option value="10">1980 - 1989</option>
            <option value="11">1990 - 1999</option>
            <option value="12">Après 2000</option>
          </select>
        </div>

        <div class="spacer spacer-sm"></div>

        <div class="input-group">
          <input type="text" class="form-control" placeholder="Lieu">
          <p class="help-block">Où cela a-t-il eu lieu ?</p>
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Voir sur la carte</button>
          </span>
        </div>

        <div class="form-group">
          <label for="tags" class="hidden">Tags</label>
          <input type="text" class="form-control" id="tags" placeholder="Tags" value="">
          <p class="help-block">Chaque tag doit être séparé par une virgule. (ex: lausanne, cathédrale, 1960)</p>
        </div>
        <h5>Choisissez la privacité du ou des documents</h5>
        <div class="radio">
          <label class="text-sans">
            <input type="radio" name="optionsRadios" id="private" value="private">
            Privé
          </label>
        </div>
        <div class="radio">
          <label class="text-sans">
            <input type="radio" name="optionsRadios" id="public" value="public" checked>
            Public
          </label>
        </div>

        <div class="spacer spacer-sm"></div>

        <div class="checkbox">
          <label>
            <input type="checkbox">
            Cette photo est ajoutable dans des albums
          </label>
        </div>


        <div class="spacer spacer-xs"></div>
        <button type="submit" class="btn btn-primary">Sauver les changements</button> <button class="btn btn-default">Annuler</button>
      </form>
    </div>
  </div>

  <div class="spacer"></div>
</div>


    <script src="./../build/js/vendors.min.js"></script>
    <script src="./../build/js/main.js"></script>
  </body>
</html>
