<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="./../build/css/vendors.min.css">
    <link rel="stylesheet" href="./../build/css/main.css">

    <!--[if lt IE 9]>
      <script src="./../build/js/polyfills.min.js"></script>
    <![endif]-->
  </head>
  <body>


    <nav class="navbar navbar-default">
      <div class="navbar-header">
        <a class="navbar-brand" href="demo.html"><h1 class="h4">Notre histoire</h1></a>
      </div>
    
      <form id="search-form" class="navbar-form navbar-left" role="search">
        
        <input type="text" class="form-control" placeholder="Rechercher" />
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
      </form>
      <a href="upload.html" class="btn btn-default navbar-btn navbar-right">
        <span class="hidden-xs">Ajouter un média</span>
        <span class="visible-xs glyphicon glyphicon-plus"></span>
      </a>
    
      <button id="search-mobile" type="button" class="btn btn-default navbar-btn navbar-right visible-xs">
        <span class="visible-xs glyphicon glyphicon-search"></span>
      </button>
    </nav>
<div class="panel panel-left panel-animate panel-leave panel-leaving">
  <button type="button" class="navbar-toggle panel-button">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar panel-closed-component"></span>
    <span class="icon-bar panel-closed-component"></span>
    <span class="icon-bar panel-closed-component"></span>
    <span class="cross">&times;</span>
  </button>
  <div class="panel-content">
    <ul class="nav nav-stacked">
      <li role="presentation" class="active"><a href="#">
        Aide
        <span class="pull-right"><span class="chevron chevron-right chevron-thin"></span></span>
      </a></li>
      <li role="presentation"><a href="#">
        Forum
        <span class="pull-right"><span class="chevron chevron-right chevron-thin"></span></span>
      </a></li>
      <li role="presentation"><a href="#">
        Blog
        <span class="pull-right"><span class="chevron chevron-right chevron-thin"></span></span>
      </a></li>
      <li role="presentation"><a href="#">
        Contact
        <span class="pull-right"><span class="chevron chevron-right chevron-thin"></span></span>
      </a></li>
      <li role="presentation"><a href="#">
        Partenaires
        <span class="pull-right"><span class="chevron chevron-right chevron-thin"></span></span>
      </a></li>
    </ul>
    <div class="container-fluid">
      <hr />      <h3>
        <div class="text-clear">Le mouvement</div>
        <b>NotreHistoire</b>
      </h3>
      <p class="text-clear text-sans">
        Oremière plateforme participative Suisse romande. Elle a pour but de créer une fresque de médias sur l'histoire de notre région.<br>
        <a href="#">En savoir plus</a>
      </p>
      <hr />    </div>
    <ul class="nav nav-stacked">
      <li role="presentation" class="active"><a href="#">
        Activités récentes
        <span class="pull-right"><span class="chevron chevron-right chevron-thin"></span></span>
      </a></li>
      <li role="presentation"><a href="#">
        Fonds documentaires
        <span class="pull-right"><span class="chevron chevron-right chevron-thin"></span></span>
      </a></li>
    </ul>
  </div>
  <div class="panel-bottom">
    <div class="container-fluid">
      <p class="text-clear text-sans">
        <small><a class="text-clear" href="#">Condition générales</a> - <a class="text-clear" href="#">Impressum</a></small>
      </p>
    </div>
  </div>
</div><div class="panel panel-right panel-animate panel-leave panel-leaving">
  <button type="button" class="btn btn-default panel-button">
    <span class="hidden-xs panel-closed-component">Connexion</span>
    <span class="visible-xs">
      <span class="glyphicon glyphicon-user panel-closed-component"></span>
    </span>
    <span class="cross">&times;</span>
  </button>
  <div class="panel-content">
    <div class="container-fluid">
      <div class="spacer spacer-xs"></div>
      <img src="http://notrehistoire.ch.s3-eu-west-1.amazonaws.com/users/avatar/2015/08/876988c033485ccc_jpg_168x168_crop_q85.jpg" class="img-responsive img-circle pull-left">
      <h4>Martine Desarzens</h4>
      <div class="spacer spacer-sm"></div>
    </div>
    <ul class="nav nav-stacked">
      <li role="presentation" class="active"><a href="#">
        Afficher mon profil
        <span class="pull-right"><span class="chevron chevron-right chevron-thin"></span></span>
      </a></li>
      <li role="presentation"><a href="#">
        Mes médias
        <span class="pull-right"><span class="chevron chevron-right chevron-thin"></span></span>
      </a></li>
      <li role="presentation"><a href="#">
        Mes activités
        <span class="pull-right"><span class="chevron chevron-right chevron-thin"></span></span>
      </a></li>
      <li role="presentation"><a href="#">
        Mes préférences
        <span class="pull-right"><span class="chevron chevron-right chevron-thin"></span></span>
      </a></li>
    </ul>
    <div class="container-fluid">
      <hr />      <p>
        <a href="creation-collection.html" class="btn btn-default btn-sm btn-block" role="button">Créer une collection</a>
      </p>
      <hr />      <a href="#" class="text-sans text-clear">Me déconnecter</a>
    </div>
  </div>
</div><div id="overlay" class="overlay"></div>
<div class="bg-concrete">
  <div class="container">
    <div class="col-md-8 col-md-offset-2">
      <div class="spacer spacer-sm"></div>
      <h1 class="text-center">Nos partenaires</h1>
      <p class="text-center lead">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Polemoni et iam ante Aristoteli ea prima visa sunt, quae paulo ante dixi. Iam id ipsum absurdum, maximum malum neglegi. Sed virtutem ipsam inchoavit, nihil amplius.
      </p>
      <div class="spacer spacer-sm"></div>
    </div>
  </div>
</div>

<div class="container">
  <div class="spacer spacer-sm"></div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">

      <div class="row">
        <div class="col-sm-3">
          <div class="spacer spacer-sm"></div>
          <a href="#"><img src="http://fonsart.ch/sites/all/themes/fonsart_omega/logo.png" class="img-responsive"></a>
        </div>
        <div class="col-sm-9">
          <h3>Fonsart</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hoc ne statuam quidem dicturam pater aiebat, si loqui posset. Quam ob rem tandem, inquit, non satisfacit? Ego quoque, inquit, didicerim libentius si quid attuleris, quam te reprehenderim. Hoc est non modo cor.
          </p>
          <p>
            <a href="#">En savoir plus</a>
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3">
          <div class="spacer spacer-sm"></div>
          <a href="#"><img src="https://upload.wikimedia.org/wikipedia/fr/archive/7/72/20110613124335!RTS_Logo_2010.png" class="img-responsive"></a>
        </div>
        <div class="col-sm-9">
          <h3>RTS</h3>
          <p>
            Ita multa dicunt, quae vix intellegam. Itaque a sapientia praecipitur se ipsam, si usus.
          </p>
          <p>
            <a href="#">En savoir plus</a>
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3">
          <div class="spacer spacer-sm"></div>
          <a href="#"><img src="http://www.amj.ch/logo_LotRomande.jpg" class="img-responsive"></a>
        </div>
        <div class="col-sm-9">
          <h3>Loterie Romande</h3>
          <p>
            Quae duo sunt, unum facit. Quae cum praeponunt, ut sit aliqua rerum selectio, naturam videntur sequi; Tibi hoc incredibile, quod beatissimum. Sed in rebus apertissimis nimium longi sumus. Quamquam tu hanc copiosiorem etiam soles dicere. Neque enim civitas in seditione beata esse potest nec in discordia dominorum domus; Quarum ambarum rerum cum medicinam pollicetur, luxuriae licentiam polli.
          </p>
          <p>
            <a href="#">En savoir plus</a>
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3">
          <div class="spacer spacer-sm"></div>
          <a href="#"><img src="http://www.foto-ch.ch/Logos/Memoriav_f.jpg" class="img-responsive"></a>
        </div>
        <div class="col-sm-9">
          <h3>Memoriav</h3>
          <p>
            Nosti, credo, illud: Nemo pius est, qui pietatem-; Quacumque enim ingredimur, in aliqua historia vestigium ponimus. Ergo instituto veterum, quo etiam Stoici utuntur, hinc capiamus exordium. Quid, si etiam iucunda memoria est praeteritorum malorum? Bonum integritas corporis: misera debilita.
          </p>
          <p>
            <a href="#">En savoir plus</a>
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3">
          <div class="spacer spacer-sm"></div>
          <a href="#"><img src="http://www.generations-plus.ch/sites/all/themes/generations_plus/images/logo.png" class="img-responsive"></a>
        </div>
        <div class="col-sm-9">
          <h3>génération.ch</h3>
          <p>
            Quod quidem nobis non saepe contingit. Isto modo ne improbos quidem, si essent.
          </p>
          <p>
            <a href="#">En savoir plus</a>
          </p>
        </div>
      </div>

    </div>
  </div>

  <div class="spacer spacer-md"></div>
</div>


    <script src="./../build/js/vendors.min.js"></script>
    <script src="./../build/js/main.js"></script>
  </body>
</html>
